swagger: '2.0'
info:
  title: REST AdditionalData TagService API
  version: 1.0.0-beta
host: api.openprovider.eu
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- Bearer: []
tags:
- name: TagService
  x-displayName: Tag
paths:
  /v1beta/tags:
    get:
      tags:
      - TagService
      summary: List tags
      operationId: ListTags
      parameters:
      - type: string
        description: 'The key of the tag. Allowed values: ''customer''.'
        name: key
        in: query
      - type: string
        description: 'The value of the tag. I.e.: VIP customer.'
        name: value
        in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/tagListTagsResponse'
        default:
          description: (empty)
          schema:
            $ref: '#/definitions/errorError'
    post:
      tags:
      - TagService
      summary: Create tag
      operationId: CreateTag
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/helperstagTag'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/tagCreateTagResponse'
        default:
          description: (empty)
          schema:
            $ref: '#/definitions/errorError'
    delete:
      tags:
      - TagService
      summary: Delete tag
      operationId: DeleteTag
      parameters:
      - type: string
        description: 'The key of the tag. Allowed values: ''customer''.'
        name: key
        in: query
      - type: string
        description: 'The value of the tag. I.e.: VIP customer.'
        name: value
        in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/tagDeleteTagResponse'
        default:
          description: (empty)
          schema:
            $ref: '#/definitions/errorError'
definitions:
  tagListTagsResponse:
    type: object
    title: ListTagsResponse
    properties:
      code:
        type: integer
        format: int32
        title: Response code
      data:
        title: Response data
        $ref: '#/definitions/tagListTagsResponseData'
      desc:
        type: string
        title: Response description
      maintenance:
        type: boolean
        format: boolean
        title: Indicates, if Openprovider API is on maintenance
      warnings:
        type: array
        title: Array of warning messages
        items:
          $ref: '#/definitions/errorWarning'
    example:
      code: 0
      data:
        results:
        - key: customer
          value: example
        total: 999
      desc: ''
  helperstagTag:
    type: object
    title: Tag
    properties:
      key:
        type: string
        title: 'The key of the tag. Allowed values: ''customer'''
      value:
        type: string
        title: 'The value of the tag. I.e.: VIP customer'
    example:
      key: customer
      value: example
  tagDeleteTagResponse:
    type: object
    title: DeleteTagResponse
    properties:
      code:
        type: integer
        format: int32
        title: Response code
      data:
        title: Response data
        $ref: '#/definitions/tagDeleteTagResponseData'
      desc:
        type: string
        title: Response description
      maintenance:
        type: boolean
        format: boolean
        title: Indicates, if Openprovider API is on maintenance
      warnings:
        type: array
        title: Array of warning messages
        items:
          $ref: '#/definitions/errorWarning'
    example:
      code: 0
      data:
        success: false
      desc: ''
  tagDeleteTagResponseData:
    type: object
    title: DeleteTagResponseData
    properties:
      success:
        type: boolean
        format: boolean
        title: Indicates, if operation is successful
    example:
      success: false
  errorError:
    type: object
    title: Error
    properties:
      code:
        type: integer
        format: int32
        title: Error code
      data:
        type: string
        title: Additional error description
      desc:
        type: string
        title: Error description
    example:
      code: 0
      data: ''
      desc: ''
  errorWarning:
    type: object
    title: Warning
    properties:
      code:
        type: integer
        format: int32
        title: Warning code
      data:
        type: string
        title: Additional warning description
      desc:
        type: string
        title: Warning description
    example:
      code: 0
      data: ''
      desc: ''
  tagListTagsResponseData:
    type: object
    title: ListTagsResponseData
    properties:
      results:
        type: array
        title: Array of results
        items:
          $ref: '#/definitions/helperstagTag'
      total:
        type: integer
        format: int32
        title: Results count
    example:
      results:
      - key: customer
        value: example
      total: 999
  tagCreateTagResponse:
    type: object
    title: CreateTagResponse
    properties:
      code:
        type: integer
        format: int32
        title: Response code
      data:
        title: Response data
        $ref: '#/definitions/tagCreateTagResponseData'
      desc:
        type: string
        title: Response description
      maintenance:
        type: boolean
        format: boolean
        title: Indicates, if Openprovider API is on maintenance
      warnings:
        type: array
        title: Array of warning messages
        items:
          $ref: '#/definitions/errorWarning'
    example:
      code: 0
      data:
        success: false
      desc: ''
  tagCreateTagResponseData:
    type: object
    title: CreateTagResponseData
    properties:
      success:
        type: boolean
        format: boolean
        title: Indicates, if operation is successful
    example:
      success: false
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
    x-linkTo: tag/descAuthentication
x-tagGroups:
- name: Introduction
  tags:
  - descAbout
  - descGettingStarted
  - descEndpoints
  - descAuthentication
- name: Quick Start
  tags:
  - descCustomerQuickstart
  - descDomainQuickstart
  - descTLDQuickstart
  - descDNSQuickstart
  - descSSLQuickstart
- name: Auth
  tags:
  - Auth
  - SpamExpert
- name: Billing
  tags:
  - InvoiceService
  - Payment
  - Transaction
- name: DNS
  tags:
  - DomainToken
  - NameserverService
  - NsGroupService
  - TemplateService
  - ZoneService
  - ZoneRecordService
- name: Domain
  tags:
  - DomainService
  - AdditionalData
  - CustomerAdditionalData
  - DomainPriceService
  - AuthCode
  - TldService
- name: EasyDmarc
  tags:
  - EasydmarcOrder
- name: Email template
  tags:
  - Email
- name: License
  tags:
  - LicenseService
- name: Reseller/Customer
  tags:
  - ContactService
  - Customer
  - EmailVerification
  - ResellerService
  - Settings
  - Statistics
  - TagService
- name: Spam Experts
  tags:
  - SEDomain
- name: SSL
  tags:
  - ApproverEmail
  - Csr
  - Order
  - OrderApproverEmail
  - OtpToken
  - Product
