swagger: '2.0'
info:
  title: REST AdditionalData Email API
  version: 1.0.0-beta
host: api.openprovider.eu
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- Bearer: []
tags:
- name: Email
paths:
  /v1beta/emails:
    get:
      tags:
      - Email
      summary: List emails
      operationId: ListEmails
      parameters:
      - type: integer
        format: int32
        description: Object ID.
        name: id
        in: query
      - type: string
        description: Template name.
        name: name
        in: query
      - type: string
        description: 'Email template type. There are several types of ICANN emails that can be customized in Openprovider: -errp (Expired Registration Recovery policy emails) -foa (Form of Authorization emails for domain transfers approval rejection) -ive (Information verification emails, such emails used to verify email address of the customer) -tcn (Trademark Claims Notification emails) -wdrp (Whois Data Reminder Policy emails).'
        name: group
        in: query
      - type: integer
        format: int32
        description: Output limit.
        name: limit
        in: query
      - type: integer
        format: int32
        description: Output offset.
        name: offset
        in: query
      - type: boolean
        format: boolean
        description: Is system.
        name: is_system
        in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/emailListEmailsResponse'
        default:
          description: (empty)
          schema:
            $ref: '#/definitions/errorError'
    post:
      tags:
      - Email
      summary: Create email
      operationId: CreateEmail
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/emailCreateEmailRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/emailCreateEmailResponse'
        default:
          description: (empty)
          schema:
            $ref: '#/definitions/errorError'
  /v1beta/emails/{id}:
    put:
      tags:
      - Email
      summary: Update email
      operationId: UpdateEmail
      parameters:
      - type: integer
        format: int32
        description: Object ID
        name: id
        in: path
        required: true
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/emailUpdateEmailRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/emailUpdateEmailResponse'
        default:
          description: (empty)
          schema:
            $ref: '#/definitions/errorError'
    delete:
      tags:
      - Email
      summary: Delete email
      operationId: DeleteEmail
      parameters:
      - type: integer
        format: int32
        description: Object ID
        name: id
        in: path
        required: true
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/emailDeleteEmailResponse'
        default:
          description: (empty)
          schema:
            $ref: '#/definitions/errorError'
definitions:
  emailTags:
    type: object
    title: Tags
    properties:
      key:
        type: string
        title: 'The key of the tag. Allowed values: ''customer'''
      value:
        type: string
        title: The value of the tag. I.e.:VIP customer
    example:
      key: customer
      value: Reseller A
  emailUpdateEmailResponse:
    type: object
    title: UpdateEmailResponse
    properties:
      code:
        type: integer
        format: int32
        title: Response code
      data:
        title: Response data
        $ref: '#/definitions/emailUpdateEmailResponseData'
      desc:
        type: string
        title: Response description
      maintenance:
        type: boolean
        format: boolean
        title: Indicates, if Openprovider API is on maintenance
      warnings:
        type: array
        title: Array of warning messages
        items:
          $ref: '#/definitions/errorWarning'
    example:
      code: 0
      data:
        success: false
      desc: ''
  emailListEmailsResponse:
    type: object
    title: ListEmailsResponse
    properties:
      code:
        type: integer
        format: int32
        title: Response code
      data:
        title: Response data
        $ref: '#/definitions/emailListEmailsResponseData'
      desc:
        type: string
        title: Response description
      maintenance:
        type: boolean
        format: boolean
        title: Indicates, if Openprovider API is on maintenance
      warnings:
        type: array
        title: Array of warning messages
        items:
          $ref: '#/definitions/errorWarning'
    example:
      code: 0
      data:
        results:
        - fields:
          - name: senderEmail
            value: support@resellerA.com
          group: ive
          id: 0
          is_active: false
          is_default: false
          locale:
          - nl_NL
          name: ''
          tags:
          - key: customer
            value: Reseller A
        total: 999
      desc: ''
  emailCreateEmailResponse:
    type: object
    title: CreateEmailResponse
    properties:
      code:
        type: integer
        format: int32
        title: Response code
      data:
        title: Response data
        $ref: '#/definitions/emailCreateEmailResponseData'
      desc:
        type: string
        title: Response description
      maintenance:
        type: boolean
        format: boolean
        title: Indicates, if Openprovider API is on maintenance
      warnings:
        type: array
        title: Array of warning messages
        items:
          $ref: '#/definitions/errorWarning'
    example:
      code: 0
      data:
        id: 0
      desc: ''
  emailDeleteEmailResponse:
    type: object
    title: DeleteEmailResponse
    properties:
      code:
        type: integer
        format: int32
        title: Response code
      data:
        title: Response data
        $ref: '#/definitions/emailDeleteEmailResponseData'
      desc:
        type: string
        title: Response description
      maintenance:
        type: boolean
        format: boolean
        title: Indicates, if Openprovider API is on maintenance
      warnings:
        type: array
        title: Array of warning messages
        items:
          $ref: '#/definitions/errorWarning'
    example:
      code: 0
      data:
        success: false
      desc: ''
  emailUpdateEmailRequest:
    type: object
    title: UpdateEmailRequest
    properties:
      fields:
        type: array
        title: Array of template fields and values
        items:
          $ref: '#/definitions/emailFields'
      group:
        type: string
        title: The group
      id:
        type: integer
        format: int32
        title: Object ID
      is_active:
        type: boolean
        format: boolean
        title: Indicates, if template is active
      is_default:
        type: boolean
        format: boolean
        title: Indicates, if template is used by default
      locale:
        type: array
        title: Template language. All supported codes http://demo.icu-project.org/icu-bin/locexp
        items:
          type: string
      name:
        type: string
        title: The name
      tags:
        type: array
        title: This parameter is optional and allows you to specify a specific tags for object
        items:
          $ref: '#/definitions/emailTags'
    example:
      fields:
      - name: senderEmail
        value: support@resellerA.com
      group: ''
      id: 0
      is_active: false
      is_default: false
      locale:
      - nl_NL
      name: ''
      tags:
      - key: customer
        value: Reseller A
  emailFields:
    type: object
    title: Fields
    properties:
      name:
        type: string
        title: Template name
      value:
        type: string
        title: The value of the tag. I.e.:VIP customer
    example:
      name: senderEmail
      value: support@resellerA.com
  emailUpdateEmailResponseData:
    type: object
    title: UpdateEmailResponseData
    properties:
      success:
        type: boolean
        format: boolean
        title: Indicates, if operation was successfull
    example:
      success: false
  emailDeleteEmailResponseData:
    type: object
    title: DeleteEmailResponseData
    properties:
      success:
        type: boolean
        format: boolean
        title: Indicates, if operation was successfull
    example:
      success: false
  emailListEmailsResponseData:
    type: object
    title: ListEmailsResponseData
    properties:
      results:
        type: array
        title: Array of results
        items:
          $ref: '#/definitions/emailListEmailsResponseDataResults'
      total:
        type: integer
        format: int32
        title: Results count
    example:
      results:
      - fields:
        - name: senderEmail
          value: support@resellerA.com
        group: ive
        id: 0
        is_active: false
        is_default: false
        locale:
        - nl_NL
        name: ''
        tags:
        - key: customer
          value: Reseller A
      total: 999
  errorError:
    type: object
    title: Error
    properties:
      code:
        type: integer
        format: int32
        title: Error code
      data:
        type: string
        title: Additional error description
      desc:
        type: string
        title: Error description
    example:
      code: 0
      data: ''
      desc: ''
  errorWarning:
    type: object
    title: Warning
    properties:
      code:
        type: integer
        format: int32
        title: Warning code
      data:
        type: string
        title: Additional warning description
      desc:
        type: string
        title: Warning description
    example:
      code: 0
      data: ''
      desc: ''
  emailListEmailsResponseDataResults:
    type: object
    title: ListEmailsResponseDataResults
    properties:
      fields:
        type: array
        title: Array of template fields and values
        items:
          $ref: '#/definitions/emailFields'
      group:
        type: string
        title: 'Email template type. There are several types of ICANN emails that can be customized in Openprovider: -errp (Expired Registration Recovery policy emails) -foa (Form of Authorization emails for domain transfers approval \ rejection) -ive (Information verification emails, such emails used to verify email address of the customer) -tcn (Trademark Claims Notification emails) -wdrp (Whois Data Reminder Policy emails)'
      id:
        type: integer
        format: int32
        title: Object ID
      is_active:
        type: boolean
        format: boolean
        title: Indicates, if template is active
      is_default:
        type: boolean
        format: boolean
        title: Indicates, if template is used by default
      locale:
        type: array
        title: Template language. All supported codes http://demo.icu-project.org/icu-bin/locexp
        items:
          type: string
      name:
        type: string
        title: Template name
      tags:
        type: array
        title: This parameter is optional and allows you to specify a specific tags for object
        items:
          $ref: '#/definitions/emailTags'
    example:
      fields:
      - name: senderEmail
        value: support@resellerA.com
      group: ive
      id: 0
      is_active: false
      is_default: false
      locale:
      - nl_NL
      name: ''
      tags:
      - key: customer
        value: Reseller A
  emailCreateEmailResponseData:
    type: object
    title: CreateEmailResponseData
    properties:
      id:
        type: integer
        format: int32
        title: Object ID
    example:
      id: 0
  emailCreateEmailRequest:
    type: object
    title: CreateEmailRequest
    properties:
      fields:
        type: array
        title: Array of template fields and values
        items:
          $ref: '#/definitions/emailFields'
      group:
        type: string
        title: 'Email template type. There are several types of ICANN emails that can be customized in Openprovider: -errp (Expired Registration Recovery policy emails) -foa (Form of Authorization emails for domain transfers approval \ rejection) -ive (Information verification emails, such emails used to verify email address of the customer) -tcn (Trademark Claims Notification emails) -wdrp (Whois Data Reminder Policy emails)'
      is_active:
        type: boolean
        format: boolean
        title: Indicates, if template is active
      is_default:
        type: boolean
        format: boolean
        title: Indicates, if template is used by default
      locale:
        type: array
        title: Template language. All supported codes http://demo.icu-project.org/icu-bin/locexp
        items:
          type: string
      name:
        type: string
        title: Template name
      tags:
        type: array
        title: This parameter is optional and allows you to specify a specific tags for object
        items:
          $ref: '#/definitions/emailTags'
    example:
      fields:
      - name: senderEmail
        value: support@resellerA.com
      group: wdrp
      is_active: false
      is_default: false
      locale:
      - nl_NL
      name: ''
      tags:
      - key: customer
        value: Reseller A
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
    x-linkTo: tag/descAuthentication
x-tagGroups:
- name: Introduction
  tags:
  - descAbout
  - descGettingStarted
  - descEndpoints
  - descAuthentication
- name: Quick Start
  tags:
  - descCustomerQuickstart
  - descDomainQuickstart
  - descTLDQuickstart
  - descDNSQuickstart
  - descSSLQuickstart
- name: Auth
  tags:
  - Auth
  - SpamExpert
- name: Billing
  tags:
  - InvoiceService
  - Payment
  - Transaction
- name: DNS
  tags:
  - DomainToken
  - NameserverService
  - NsGroupService
  - TemplateService
  - ZoneService
  - ZoneRecordService
- name: Domain
  tags:
  - DomainService
  - AdditionalData
  - CustomerAdditionalData
  - DomainPriceService
  - AuthCode
  - TldService
- name: EasyDmarc
  tags:
  - EasydmarcOrder
- name: Email template
  tags:
  - Email
- name: License
  tags:
  - LicenseService
- name: Reseller/Customer
  tags:
  - ContactService
  - Customer
  - EmailVerification
  - ResellerService
  - Settings
  - Statistics
  - TagService
- name: Spam Experts
  tags:
  - SEDomain
- name: SSL
  tags:
  - ApproverEmail
  - Csr
  - Order
  - OrderApproverEmail
  - OtpToken
  - Product
