openapi: 3.2.0
info:
  title: REST Tag Service API
  version: 1.0.0-beta
servers:
- url: https://api.openprovider.eu
security:
- Bearer: []
tags:
- name: TagService
  x-displayName: Tag
paths:
  /v1beta/tags:
    get:
      tags:
      - TagService
      summary: List tags
      operationId: ListTags
      parameters:
      - description: 'The key of the tag. Allowed values: ''customer''.'
        name: key
        in: query
        schema:
          type: string
      - description: 'The value of the tag. I.e.: VIP customer.'
        name: value
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagListTagsResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
    post:
      tags:
      - TagService
      summary: Create tag
      operationId: CreateTag
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagCreateTagResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/helperstagTag'
        required: true
    delete:
      tags:
      - TagService
      summary: Delete tag
      operationId: DeleteTag
      parameters:
      - description: 'The key of the tag. Allowed values: ''customer''.'
        name: key
        in: query
        schema:
          type: string
      - description: 'The value of the tag. I.e.: VIP customer.'
        name: value
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagDeleteTagResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
components:
  schemas:
    tagDeleteTagResponseData:
      type: object
      title: DeleteTagResponseData
      properties:
        success:
          type: boolean
          format: boolean
          title: Indicates, if operation is successful
      example:
        success: false
    errorWarning:
      type: object
      title: Warning
      properties:
        code:
          type: integer
          format: int32
          title: Warning code
        data:
          type: string
          title: Additional warning description
        desc:
          type: string
          title: Warning description
      example:
        code: 0
        data: ''
        desc: ''
    tagListTagsResponse:
      type: object
      title: ListTagsResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/tagListTagsResponseData'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
      example:
        code: 0
        data:
          results:
          - key: customer
            value: example
          total: 999
        desc: ''
    errorError:
      type: object
      title: Error
      properties:
        code:
          type: integer
          format: int32
          title: Error code
        data:
          type: string
          title: Additional error description
        desc:
          type: string
          title: Error description
      example:
        code: 0
        data: ''
        desc: ''
    helperstagTag:
      type: object
      title: Tag
      properties:
        key:
          type: string
          title: 'The key of the tag. Allowed values: ''customer'''
        value:
          type: string
          title: 'The value of the tag. I.e.: VIP customer'
      example:
        key: customer
        value: example
    tagListTagsResponseData:
      type: object
      title: ListTagsResponseData
      properties:
        results:
          type: array
          title: Array of results
          items:
            $ref: '#/components/schemas/helperstagTag'
        total:
          type: integer
          format: int32
          title: Results count
      example:
        results:
        - key: customer
          value: example
        total: 999
    tagCreateTagResponseData:
      type: object
      title: CreateTagResponseData
      properties:
        success:
          type: boolean
          format: boolean
          title: Indicates, if operation is successful
      example:
        success: false
    tagDeleteTagResponse:
      type: object
      title: DeleteTagResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/tagDeleteTagResponseData'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
      example:
        code: 0
        data:
          success: false
        desc: ''
    tagCreateTagResponse:
      type: object
      title: CreateTagResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/tagCreateTagResponseData'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
      example:
        code: 0
        data:
          success: false
        desc: ''
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      x-linkTo: tag/descAuthentication
x-tagGroups:
- name: Introduction
  tags:
  - descAbout
  - descGettingStarted
  - descEndpoints
  - descAuthentication
- name: Quick Start
  tags:
  - descCustomerQuickstart
  - descDomainQuickstart
  - descTLDQuickstart
  - descDNSQuickstart
  - descSSLQuickstart
- name: Auth
  tags:
  - Auth
  - SpamExpert
- name: Billing
  tags:
  - InvoiceService
  - Payment
  - Transaction
- name: DNS
  tags:
  - DomainToken
  - NameserverService
  - NsGroupService
  - TemplateService
  - ZoneService
  - ZoneRecordService
- name: Domain
  tags:
  - DomainService
  - AdditionalData
  - CustomerAdditionalData
  - DomainPriceService
  - AuthCode
  - TldService
- name: EasyDmarc
  tags:
  - EasydmarcOrder
- name: Email template
  tags:
  - Email
- name: License
  tags:
  - LicenseService
- name: Reseller/Customer
  tags:
  - ContactService
  - Customer
  - EmailVerification
  - ResellerService
  - Settings
  - Statistics
  - TagService
- name: Spam Experts
  tags:
  - SEDomain
- name: SSL
  tags:
  - ApproverEmail
  - Csr
  - Order
  - OrderApproverEmail
  - OtpToken
  - Product
