openapi: 3.2.0
info:
  title: REST License Service API
  version: 1.0.0-beta
servers:
- url: https://api.openprovider.eu
security:
- Bearer: []
tags:
- name: LicenseService
  x-displayName: License
paths:
  /v1beta/licenses:
    get:
      tags:
      - LicenseService
      summary: List licenses with price version
      operationId: ListLicensesWithPriceVersion
      parameters:
      - description: Output limit.
        name: limit
        in: query
        schema:
          type: integer
          format: int32
      - description: Output offset.
        name: offset
        in: query
        schema:
          type: integer
          format: int32
      - description: Object ID.
        name: order_by.id
        in: query
        schema:
          type: string
      - description: License key ID.
        name: order_by.key_id
        in: query
        schema:
          type: string
      - description: Custom license title.
        name: order_by.title
        in: query
        schema:
          type: string
      - description: Product type (only Plesk is available).
        name: order_by.product
        in: query
        schema:
          type: string
      - description: License status.
        name: order_by.status
        in: query
        schema:
          type: string
      - description: License key number.
        name: order_by.key_number
        in: query
        schema:
          type: string
      - description: License expiration date.
        name: order_by.expiration_date
        in: query
        schema:
          type: string
      - description: Product type (only Plesk is available).
        name: product
        in: query
        schema:
          type: string
      - description: License key number.
        name: key_number
        in: query
        schema:
          type: string
      - description: Custom title pattern. Wildcard (*) can be sued.
        name: title_pattern
        in: query
        schema:
          type: string
      - description: License key number pattern. Wildcard (*) can be used.
        name: key_number_pattern
        in: query
        schema:
          type: string
      - description: Key ID of the partent license.
        name: parent_key_id
        in: query
        schema:
          type: integer
          format: int32
      - description: License status.
        name: status
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseListLicensesWithPriceVersionResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
  /v1beta/licenses/hwids/reset/{product}/{key_id}:
    post:
      tags:
      - LicenseService
      summary: Reset hwid
      operationId: ResetHwid
      parameters:
      - description: Product type (only Plesk is available)
        name: product
        in: path
        required: true
        schema:
          type: string
      - description: License key ID
        name: key_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseResetHwidResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/licenseResetHwidRequest'
        required: true
  /v1beta/licenses/items:
    get:
      tags:
      - LicenseService
      summary: List items
      operationId: ListItems
      parameters:
      - description: Output limit.
        name: limit
        in: query
        schema:
          type: integer
          format: int32
      - description: Output offset.
        name: offset
        in: query
        schema:
          type: integer
          format: int32
      - description: Object ID.
        name: order_by.id
        in: query
        schema:
          type: string
      - description: License key ID.
        name: order_by.key_id
        in: query
        schema:
          type: string
      - description: Custom license title.
        name: order_by.title
        in: query
        schema:
          type: string
      - description: Product type (only Plesk is available).
        name: order_by.product
        in: query
        schema:
          type: string
      - description: License status.
        name: order_by.status
        in: query
        schema:
          type: string
      - description: License key number.
        name: order_by.key_number
        in: query
        schema:
          type: string
      - description: License expiration date.
        name: order_by.expiration_date
        in: query
        schema:
          type: string
      - description: Product type (only Plesk is available).
        name: product
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseListItemsResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
  /v1beta/licenses/plesk:
    get:
      tags:
      - LicenseService
      summary: List plesk licenses
      operationId: ListPleskLicenses
      parameters:
      - description: Output limit.
        name: limit
        in: query
        schema:
          type: integer
          format: int32
      - description: Output offset.
        name: offset
        in: query
        schema:
          type: integer
          format: int32
      - description: License key ID.
        name: key_id
        in: query
        schema:
          type: integer
          format: int32
      - description: License key number.
        name: key_number
        in: query
        schema:
          type: string
      - description: Custom title pattern. Wildcard (*) can be used.
        name: title_pattern
        in: query
        schema:
          type: string
      - description: License key number pattern. Wildcard (*) can be used.
        name: key_number_pattern
        in: query
        schema:
          type: string
      - description: Key ID of the partent license.
        name: parent_key_id
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseListLicensesResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
    post:
      tags:
      - LicenseService
      summary: Create plesk license
      operationId: CreatePleskLicense
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseCreatePleskLicenseResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/licenseCreatePleskLicenseRequest'
        required: true
  /v1beta/licenses/plesk/key/{key_id}:
    get:
      tags:
      - LicenseService
      summary: Get plesk key
      operationId: GetPleskKey
      parameters:
      - description: License key ID
        name: key_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseGetLicenseKeyResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
  /v1beta/licenses/plesk/{key_id}:
    get:
      tags:
      - LicenseService
      summary: Get plesk license
      operationId: GetPleskLicense
      parameters:
      - description: License key ID
        name: key_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseGetLicenseResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
    put:
      tags:
      - LicenseService
      summary: Update plesk license
      operationId: UpdatePleskLicense
      parameters:
      - description: License key ID
        name: key_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseUpdateLicenseResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/licenseUpdatePleskLicenseRequest'
        required: true
    delete:
      tags:
      - LicenseService
      summary: Delete plesk license
      operationId: DeletePleskLicense
      parameters:
      - description: License key ID
        name: key_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseDeleteLicenseResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
  /v1beta/licenses/virtuozzo:
    get:
      tags:
      - LicenseService
      summary: List virtuozzo licenses
      operationId: ListVirtuozzoLicenses
      deprecated: true
      parameters:
      - description: Output limit.
        name: limit
        in: query
        schema:
          type: integer
          format: int32
      - description: Output offset.
        name: offset
        in: query
        schema:
          type: integer
          format: int32
      - description: License key ID.
        name: key_id
        in: query
        schema:
          type: integer
          format: int32
      - description: License key number.
        name: key_number
        in: query
        schema:
          type: string
      - description: Custom title pattern. Wildcard (*) can be used.
        name: title_pattern
        in: query
        schema:
          type: string
      - description: License key number pattern. Wildcard (*) can be used.
        name: key_number_pattern
        in: query
        schema:
          type: string
      - description: Key ID of the partent license.
        name: parent_key_id
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseListLicensesResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
    post:
      tags:
      - LicenseService
      summary: Create virtuozzo license
      operationId: CreateVirtuozzoLicense
      deprecated: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseCreateVirtuozzoLicenseResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/licenseCreateVirtuozzoLicenseRequest'
        required: true
  /v1beta/licenses/virtuozzo/{key_id}:
    get:
      tags:
      - LicenseService
      summary: Get virtuozzo license
      operationId: GetVirtuozzoLicense
      deprecated: true
      parameters:
      - description: License key ID
        name: key_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseGetLicenseResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
    put:
      tags:
      - LicenseService
      summary: Update virtuozzo license
      operationId: UpdateVirtuozzoLicense
      deprecated: true
      parameters:
      - description: License key ID
        name: key_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseUpdateLicenseResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/licenseUpdateVirtuozzoLicenseRequest'
        required: true
    delete:
      tags:
      - LicenseService
      summary: Delete virtuozzo license
      operationId: DeleteVirtuozzoLicense
      deprecated: true
      parameters:
      - description: License key ID
        name: key_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseDeleteLicenseResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
  /v1beta/licenses/virtuozzo/{key_id}/key:
    get:
      tags:
      - LicenseService
      summary: Get virtuozzo key
      operationId: GetVirtuozzoKey
      deprecated: true
      parameters:
      - description: License key ID
        name: key_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/licenseGetLicenseKeyResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
components:
  schemas:
    licenseUpdateLicenseResponseData:
      type: object
      title: UpdateLicenseResponseData
      properties:
        success:
          type: boolean
          format: boolean
          title: Indicates, if operation was succesful
      example:
        success: false
    licenseExtendedLicense:
      type: object
      title: ExtendedLicense
      properties:
        activation_code:
          type: string
          title: License activation code
        billing_type:
          type: string
          title: License billing type
        comment:
          type: string
          title: Custom notes
        contract:
          type: string
          title: Openprovider contract version
        expiration_date:
          type: string
          title: License expiration date
        extensions:
          type: array
          title: License extensions
          items:
            $ref: '#/components/schemas/licenseExtendedLicense'
        features:
          type: array
          title: License features
          items:
            $ref: '#/components/schemas/licenseLicenseItem'
        ip_address_binding:
          type: string
          title: IP addess to bind license to
        items:
          type: array
          title: List of license items
          items:
            type: string
        key:
          title: License key
          $ref: '#/components/schemas/licenseKey'
        key_id:
          type: integer
          format: int32
          title: License key ID
        key_number:
          type: string
          title: License key number
        order_date:
          type: string
          title: License order date
        parent_key_id:
          type: integer
          format: int32
          title: Key ID of the partent license
        period:
          type: integer
          format: int32
          title: Period for which license is active
        product:
          type: string
          title: Product type (only Plesk is available)
        sku_values:
          type: object
          title: List of license SKU values
          additionalProperties:
            type: boolean
            format: boolean
        status:
          type: string
          title: License status
        title:
          type: string
          title: Custom license title
    licenseCreatePleskLicenseRequest:
      type: object
      title: CreatePleskLicenseRequest
      properties:
        attached_keys:
          type: array
          title: Third-party extension keys
          items:
            type: string
        comment:
          type: string
          title: Custom notes
        ip_address_binding:
          type: string
          title: IP addess to bind license to
        items:
          type: array
          title: List of license items
          items:
            type: string
        parent_key_id:
          type: integer
          format: int32
          title: Key ID of the partent license
        period:
          type: integer
          format: int32
          title: Period for which license is active
        restrict_ip_binding:
          type: boolean
          format: boolean
          title: Indicates, if license is bound to an IP
        title:
          type: string
          title: Custom license title
    licenseCreateVirtuozzoLicenseResponse:
      type: object
      title: CreateVirtuozzoLicenseResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/licenseCreateLicenseResponseData'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
      example:
        code: 0
        data:
          attached_keys:
          - 123456
          key_id: 123456
        desc: ''
    licenseDeleteLicenseResponse:
      type: object
      title: DeleteLicenseResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/licenseDeleteLicenseResponseData'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
      example:
        code: 0
        data:
          success: false
        desc: ''
    licenseListLicensesWithPriceVersionResponse:
      type: object
      title: ListLicensesWithPriceVersionResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/licenseListLicensesWithPriceVersionResponseData'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
    licenselicenseLicense:
      type: object
      title: License
      properties:
        activation_code:
          type: string
          title: License activation code
        billing_type:
          type: string
          title: License billing type
        comment:
          type: string
          title: Custom notes
        contract:
          type: string
          title: Openprovider contract version
        expiration_date:
          type: string
          title: License expiration date
        ip_address_binding:
          type: string
          title: IP addess to bind license to
        items:
          type: array
          title: List of license items
          items:
            type: string
        key_id:
          type: integer
          format: int32
          title: License key ID
        key_number:
          type: string
          title: License key number
        order_date:
          type: string
          title: License order date
        parent_key_id:
          type: integer
          format: int32
          title: Key ID of the partent license
        period:
          type: integer
          format: int32
          title: Period for which license is active
        product:
          type: string
          title: Product type (only Plesk is available)
        sku_values:
          type: object
          title: List of license SKU values
          additionalProperties:
            type: boolean
            format: boolean
        status:
          type: string
          title: License status
        title:
          type: string
          title: Custom license title
    licenseListLicensesWithPriceVersionResponseData:
      type: object
      title: ListLicensesWithPriceVersionResponseData
      properties:
        results:
          type: array
          title: Array of results
          items:
            $ref: '#/components/schemas/licenseLicenseWithPriceVersion'
        total:
          type: integer
          format: int32
          title: Results count
    licenseListLicensesResponseData:
      type: object
      title: ListLicensesResponseData
      properties:
        results:
          type: array
          title: Array of results
          items:
            $ref: '#/components/schemas/licenselicenseLicense'
        total:
          type: integer
          format: int32
          title: Results count
    licenseUpdateLicenseResponse:
      type: object
      title: UpdateLicenseResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/licenseUpdateLicenseResponseData'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
      example:
        code: 0
        data:
          success: false
        desc: ''
    licenseGetLicenseResponse:
      type: object
      title: GetLicenseResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/licenseExtendedLicense'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
    licenseResetHwidRequest:
      type: object
      title: ResetHwidRequest
      properties:
        key_id:
          type: integer
          format: int32
          title: License key ID
        product:
          type: string
          title: Product type (only Plesk is available)
      example:
        key_id: 12345
        product: plesk
    licenseKey:
      type: object
      title: Key
      properties:
        item:
          type: string
          title: License item
        product:
          type: string
          title: Product type (only Plesk is available)
        sku_values:
          type: object
          title: List of license SKU values
          additionalProperties:
            type: boolean
            format: boolean
        title:
          type: string
          title: Custom license title
      example:
        item: PLESK-12-VPS-WEB-HOST-1M
        product: plesk
        sku_values: null
        title: Plesk for VPS Web Host Edition
    licenseListItemsResponseData:
      type: object
      title: ListItemsResponseData
      properties:
        results:
          type: array
          title: Array of results
          items:
            $ref: '#/components/schemas/licenseLicenseItem'
        total:
          type: integer
          format: int32
          title: Results count
      example:
        results:
        - item: FT-PLESK-VPS-WPB-100-SITES-1M
          product: plesk
          sku_values: null
          title: DNSSEC for Plesk (Bundled)
        total: 999
    errorWarning:
      type: object
      title: Warning
      properties:
        code:
          type: integer
          format: int32
          title: Warning code
        data:
          type: string
          title: Additional warning description
        desc:
          type: string
          title: Warning description
      example:
        code: 0
        data: ''
        desc: ''
    licenseLicenseWithPriceVersion:
      type: object
      title: LicenseWithPriceVersion
      properties:
        activation_code:
          type: string
          title: License activation code
        billing_type:
          type: string
          title: License billing type
        comment:
          type: string
          title: Custom notes
        contract:
          type: string
          title: Openprovider contract version
        expiration_date:
          type: string
          title: License expiration date
        items:
          type: array
          title: List of license items
          items:
            type: string
        key_id:
          type: integer
          format: int32
          title: License key ID
        key_number:
          type: string
          title: License key number
        order_date:
          type: string
          title: License order date
        parent_key_id:
          type: integer
          format: int32
          title: Key ID of the partent license
        period:
          type: integer
          format: int32
          title: Period for which license is active
        product:
          type: string
          title: Product type (only Plesk is available)
        sku_values:
          type: object
          title: List of license SKU values
          additionalProperties:
            type: boolean
            format: boolean
        status:
          type: string
          title: License status
        title:
          type: string
          title: Custom license title
    errorError:
      type: object
      title: Error
      properties:
        code:
          type: integer
          format: int32
          title: Error code
        data:
          type: string
          title: Additional error description
        desc:
          type: string
          title: Error description
      example:
        code: 0
        data: ''
        desc: ''
    licenseResetHwidResponse:
      type: object
      title: ResetHwidResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/licenseResetHwidResponseData'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
      example:
        code: 0
        data:
          success: false
        desc: ''
    licenseLicenseItem:
      type: object
      title: LicenseItem
      properties:
        item:
          type: string
          title: License item
        product:
          type: string
          title: Product type (only Plesk is available)
        sku_values:
          type: object
          title: List of license SKU values
          additionalProperties:
            type: boolean
            format: boolean
        title:
          type: string
          title: Custom license title
      example:
        item: FT-PLESK-VPS-WPB-100-SITES-1M
        product: plesk
        sku_values: null
        title: DNSSEC for Plesk (Bundled)
    licenseDeleteLicenseResponseData:
      type: object
      title: DeleteLicenseResponseData
      properties:
        success:
          type: boolean
          format: boolean
          title: Indicates, if operation was succesful
      example:
        success: false
    licenseListLicensesResponse:
      type: object
      title: ListLicensesResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/licenseListLicensesResponseData'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
    licenseCreateLicenseResponseData:
      type: object
      title: CreateLicenseResponseData
      properties:
        attached_keys:
          type: array
          title: Third-party extension keys
          items:
            type: integer
            format: int32
        key_id:
          type: integer
          format: int32
          title: License key ID
      example:
        attached_keys:
        - 123456
        key_id: 123456
    licenseResetHwidResponseData:
      type: object
      title: ResetHwidResponseData
      properties:
        success:
          type: boolean
          format: boolean
          title: Indicates, if operation was succesful
      example:
        success: false
    licenseListItemsResponse:
      type: object
      title: ListItemsResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/licenseListItemsResponseData'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
      example:
        code: 0
        data:
          results:
          - item: FT-PLESK-VPS-WPB-100-SITES-1M
            product: plesk
            sku_values: null
            title: DNSSEC for Plesk (Bundled)
          total: 999
        desc: ''
    licenseLicenseKey:
      type: object
      title: LicenseKey
      properties:
        key:
          type: string
          title: License key
      example:
        key: ''
    licenseUpdateVirtuozzoLicenseRequest:
      type: object
      title: UpdateVirtuozzoLicenseRequest
      properties:
        attached_keys:
          type: array
          title: Third-party extension keys
          items:
            type: string
        comment:
          type: string
          title: Custom notes
        ip_address_binding:
          type: string
          title: IP addess to bind license to
        items:
          type: array
          title: List of license items
          items:
            type: string
        key_id:
          type: integer
          format: int32
          title: License key ID
        parent_key_id:
          type: integer
          format: int32
          title: Key ID of the partent license
        pcs_capacity:
          type: integer
          format: int32
          title: Virtuozzzo storage capacity in 100 Gb blocks
        period:
          type: integer
          format: int32
          title: Period for which license is active
        restrict_ip_binding:
          type: boolean
          format: boolean
          title: Indicates, if license is bound to an IP
        suspended:
          type: boolean
          format: boolean
          title: Indicates, if license is suspended
        title:
          type: string
          title: Custom license title
    licenseUpdatePleskLicenseRequest:
      type: object
      title: UpdatePleskLicenseRequest
      properties:
        attached_keys:
          type: array
          title: Third-party extension keys
          items:
            type: string
        comment:
          type: string
          title: Custom notes
        ip_address_binding:
          type: string
          title: IP addess to bind license to
        items:
          type: array
          title: List of license items
          items:
            type: string
        key_id:
          type: integer
          format: int32
          title: License key ID
        parent_key_id:
          type: integer
          format: int32
          title: Key ID of the partent license
        period:
          type: integer
          format: int32
          title: Period for which license is active
        restrict_ip_binding:
          type: boolean
          format: boolean
          title: Indicates, if license is bound to an IP
        suspended:
          type: boolean
          format: boolean
          title: Indicates, if license is suspended
        title:
          type: string
          title: Custom license title
    licenseGetLicenseKeyResponse:
      type: object
      title: GetLicenseKeyResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/licenseLicenseKey'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
      example:
        code: 0
        data:
          key: ''
        desc: ''
    licenseCreateVirtuozzoLicenseRequest:
      type: object
      title: CreateVirtuozzoLicenseRequest
      properties:
        attached_keys:
          type: array
          title: Third-party extension keys
          items:
            type: string
        comment:
          type: string
          title: Custom notes
        ip_address_binding:
          type: string
          title: IP addess to bind license to
        items:
          type: array
          title: List of license items
          items:
            type: string
        parent_key_id:
          type: integer
          format: int32
          title: Key ID of the partent license
        pcs_capacity:
          type: integer
          format: int32
          title: Virtuozzzo storage capacity in 100 Gb blocks
        period:
          type: integer
          format: int32
          title: Period for which license is active
        restrict_ip_binding:
          type: boolean
          format: boolean
          title: Indicates, if license is bound to an IP
        title:
          type: string
          title: Custom license title
    licenseCreatePleskLicenseResponse:
      type: object
      title: CreatePleskLicenseResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          title: Response data
          $ref: '#/components/schemas/licenseCreateLicenseResponseData'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates, if Openprovider API is on maintenance
        warnings:
          type: array
          title: Array of warning messages
          items:
            $ref: '#/components/schemas/errorWarning'
      example:
        code: 0
        data:
          attached_keys:
          - 123456
          key_id: 123456
        desc: ''
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      x-linkTo: tag/descAuthentication
x-tagGroups:
- name: Introduction
  tags:
  - descAbout
  - descGettingStarted
  - descEndpoints
  - descAuthentication
- name: Quick Start
  tags:
  - descCustomerQuickstart
  - descDomainQuickstart
  - descTLDQuickstart
  - descDNSQuickstart
  - descSSLQuickstart
- name: Auth
  tags:
  - Auth
  - SpamExpert
- name: Billing
  tags:
  - InvoiceService
  - Payment
  - Transaction
- name: DNS
  tags:
  - DomainToken
  - NameserverService
  - NsGroupService
  - TemplateService
  - ZoneService
  - ZoneRecordService
- name: Domain
  tags:
  - DomainService
  - AdditionalData
  - CustomerAdditionalData
  - DomainPriceService
  - AuthCode
  - TldService
- name: EasyDmarc
  tags:
  - EasydmarcOrder
- name: Email template
  tags:
  - Email
- name: License
  tags:
  - LicenseService
- name: Reseller/Customer
  tags:
  - ContactService
  - Customer
  - EmailVerification
  - ResellerService
  - Settings
  - Statistics
  - TagService
- name: Spam Experts
  tags:
  - SEDomain
- name: SSL
  tags:
  - ApproverEmail
  - Csr
  - Order
  - OrderApproverEmail
  - OtpToken
  - Product
