openapi: 3.2.0
info:
  title: REST Additional Data API
  version: 1.0.0-beta
servers:
- url: https://api.openprovider.eu
security:
- Bearer: []
tags:
- name: Additional Data
paths:
  /v1beta/domains/additional-data:
    get:
      tags:
      - Additional Data
      summary: Get additional data
      operationId: GetAdditionalData
      parameters:
      - description: Domain name without extension.
        name: domain.name
        in: query
        schema:
          type: string
      - description: Domain extension.
        name: domain.extension
        in: query
        schema:
          type: string
      - description: The operation.
        name: operation
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/additional_dataGetAdditionalDataResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
components:
  schemas:
    additional_dataGetAdditionalDataResponse:
      type: object
      title: GetAdditionalDataResponse
      properties:
        code:
          type: integer
          format: int32
          title: Response code
        data:
          type: array
          title: Response data
          items:
            $ref: '#/components/schemas/additional_dataSpecification'
        desc:
          type: string
          title: Response description
        maintenance:
          type: boolean
          format: boolean
          title: Indicates if the Openprovider API is on maintenance
        warnings:
          type: array
          title: Contains warning responses if any
          items:
            $ref: '#/components/schemas/errorWarning'
      example:
        code: 0
        data:
        - description: IDN script states what language or character set the domain name is in
          name: idnScript
          options:
          - description: Norwegian
            value: 'no'
          required: false
          type: select
        desc: ''
    errorWarning:
      type: object
      title: Warning
      properties:
        code:
          type: integer
          format: int32
          title: Warning code
        data:
          type: string
          title: Additional warning description
        desc:
          type: string
          title: Warning description
      example:
        code: 0
        data: ''
        desc: ''
    errorError:
      type: object
      title: Error
      properties:
        code:
          type: integer
          format: int32
          title: Error code
        data:
          type: string
          title: Additional error description
        desc:
          type: string
          title: Error description
      example:
        code: 0
        data: ''
        desc: ''
    additional_dataSpecification:
      type: object
      title: Specification
      properties:
        description:
          type: string
          title: Parameter description
        name:
          type: string
          title: Parameter name
        options:
          type: array
          title: Array of options
          items:
            $ref: '#/components/schemas/additional_dataSelectOption'
        required:
          type: boolean
          format: boolean
          title: Indicates, if specified additional data parameter is mandatory
        type:
          type: string
          title: Specification type
      example:
        description: IDN script states what language or character set the domain name is in
        name: idnScript
        options:
        - description: Norwegian
          value: 'no'
        required: false
        type: select
    additional_dataSelectOption:
      type: object
      title: SelectOption
      properties:
        description:
          type: string
          title: Parameter description
        value:
          type: string
          title: Option value
      example:
        description: Norwegian
        value: 'no'
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      x-linkTo: tag/descAuthentication
x-tagGroups:
- name: Introduction
  tags:
  - descAbout
  - descGettingStarted
  - descEndpoints
  - descAuthentication
- name: Quick Start
  tags:
  - descCustomerQuickstart
  - descDomainQuickstart
  - descTLDQuickstart
  - descDNSQuickstart
  - descSSLQuickstart
- name: Auth
  tags:
  - Auth
  - SpamExpert
- name: Billing
  tags:
  - InvoiceService
  - Payment
  - Transaction
- name: DNS
  tags:
  - DomainToken
  - NameserverService
  - NsGroupService
  - TemplateService
  - ZoneService
  - ZoneRecordService
- name: Domain
  tags:
  - DomainService
  - AdditionalData
  - CustomerAdditionalData
  - DomainPriceService
  - AuthCode
  - TldService
- name: EasyDmarc
  tags:
  - EasydmarcOrder
- name: Email template
  tags:
  - Email
- name: License
  tags:
  - LicenseService
- name: Reseller/Customer
  tags:
  - ContactService
  - Customer
  - EmailVerification
  - ResellerService
  - Settings
  - Statistics
  - TagService
- name: Spam Experts
  tags:
  - SEDomain
- name: SSL
  tags:
  - ApproverEmail
  - Csr
  - Order
  - OrderApproverEmail
  - OtpToken
  - Product
