openapi: 3.2.0
info:
  title: REST Payment API
  version: 1.0.0-beta
servers:
- url: https://api.openprovider.eu
security:
- Bearer: []
tags:
- name: Payment
paths:
  /v1beta/payments:
    get:
      tags:
      - Payment
      summary: List payments
      operationId: ListPayments
      parameters:
      - description: The limit.
        name: limit
        in: query
        schema:
          type: integer
          format: int32
      - description: The offset.
        name: offset
        in: query
        schema:
          type: integer
          format: int32
      - description: The order.
        name: order
        in: query
        schema:
          type: string
      - description: The order by.
        name: order_by
        in: query
        schema:
          type: string
      - description: The type.
        name: type
        in: query
        schema:
          type: string
      - description: The status.
        name: status
        in: query
        schema:
          type: string
      - description: The start creation date.
        name: start_creation_date
        in: query
        schema:
          type: string
      - description: The end creation date.
        name: end_creation_date
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paymentListPaymentsResponse'
        default:
          description: (empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorError'
components:
  schemas:
    paymentPrices:
      type: object
      title: Prices
      properties:
        product:
          title: Price in product currency
          $ref: '#/components/schemas/paymentPrice'
        reseller:
          title: Price in reseller currency
          $ref: '#/components/schemas/paymentPrice'
      example:
        product:
          currency: EUR
          price: 0
        reseller:
          currency: EUR
          price: 0
    errorWarning:
      type: object
      title: Warning
      properties:
        code:
          type: integer
          format: int32
          title: Warning code
        data:
          type: string
          title: Additional warning description
        desc:
          type: string
          title: Warning description
      example:
        code: 0
        data: ''
        desc: ''
    paymentListPaymentsResponse:
      type: object
      title: ListPaymentsResponse
      properties:
        code:
          type: integer
          format: int32
          title: The code
        data:
          title: The data
          $ref: '#/components/schemas/paymentListPaymentsResponseData'
        desc:
          type: string
          title: The desc
        maintenance:
          type: boolean
          format: boolean
          title: The maintenance
        warnings:
          type: array
          title: The warnings
          items:
            $ref: '#/components/schemas/errorWarning'
      example:
        code: 0
        data:
          results:
          - amount:
              product:
                currency: EUR
                price: 0
              reseller:
                currency: EUR
                price: 0
            confirmation_date: ''
            creation_date: '2006-09-15 14:19:30'
            id: 123
            is_processed: false
            method: ''
            payment_date: '2006-09-15 14:25:30'
            status: new
            type: online
          total: 0
        desc: ''
    errorError:
      type: object
      title: Error
      properties:
        code:
          type: integer
          format: int32
          title: Error code
        data:
          type: string
          title: Additional error description
        desc:
          type: string
          title: Error description
      example:
        code: 0
        data: ''
        desc: ''
    paymentPrice:
      type: object
      title: Price
      properties:
        currency:
          type: string
          title: The currency
        price:
          type: number
          format: double
          title: The price
      example:
        currency: EUR
        price: 0
    paymentListPaymentsResponseData:
      type: object
      title: ListPaymentsResponseData
      properties:
        results:
          type: array
          title: The results
          items:
            $ref: '#/components/schemas/paymentListPaymentsResponseDataResults'
        total:
          type: integer
          format: int32
          title: The total
      example:
        results:
        - amount:
            product:
              currency: EUR
              price: 0
            reseller:
              currency: EUR
              price: 0
          confirmation_date: ''
          creation_date: '2006-09-15 14:19:30'
          id: 123
          is_processed: false
          method: ''
          payment_date: '2006-09-15 14:25:30'
          status: new
          type: online
        total: 0
    paymentListPaymentsResponseDataResults:
      type: object
      title: ListPaymentsResponseDataResults
      properties:
        amount:
          title: The amount
          $ref: '#/components/schemas/paymentPrices'
        confirmation_date:
          type: string
          title: The confirmation date
        creation_date:
          type: string
          title: The creation date
        id:
          type: integer
          format: int32
          title: The id
        is_processed:
          type: boolean
          format: boolean
          title: Is processed
        method:
          type: string
          title: The method
        payment_date:
          type: string
          title: The payment date
        status:
          type: string
          title: The status
        type:
          type: string
          title: The type
      example:
        amount:
          product:
            currency: EUR
            price: 0
          reseller:
            currency: EUR
            price: 0
        confirmation_date: ''
        creation_date: '2006-09-15 14:19:30'
        id: 123
        is_processed: false
        method: ''
        payment_date: '2006-09-15 14:25:30'
        status: new
        type: online
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      x-linkTo: tag/descAuthentication
x-tagGroups:
- name: Introduction
  tags:
  - descAbout
  - descGettingStarted
  - descEndpoints
  - descAuthentication
- name: Quick Start
  tags:
  - descCustomerQuickstart
  - descDomainQuickstart
  - descTLDQuickstart
  - descDNSQuickstart
  - descSSLQuickstart
- name: Auth
  tags:
  - Auth
  - SpamExpert
- name: Billing
  tags:
  - InvoiceService
  - Payment
  - Transaction
- name: DNS
  tags:
  - DomainToken
  - NameserverService
  - NsGroupService
  - TemplateService
  - ZoneService
  - ZoneRecordService
- name: Domain
  tags:
  - DomainService
  - AdditionalData
  - CustomerAdditionalData
  - DomainPriceService
  - AuthCode
  - TldService
- name: EasyDmarc
  tags:
  - EasydmarcOrder
- name: Email template
  tags:
  - Email
- name: License
  tags:
  - LicenseService
- name: Reseller/Customer
  tags:
  - ContactService
  - Customer
  - EmailVerification
  - ResellerService
  - Settings
  - Statistics
  - TagService
- name: Spam Experts
  tags:
  - SEDomain
- name: SSL
  tags:
  - ApproverEmail
  - Csr
  - Order
  - OrderApproverEmail
  - OtpToken
  - Product
