swagger: '2.0'
info:
  title: REST AdditionalData DomainPriceService API
  version: 1.0.0-beta
host: api.openprovider.eu
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- Bearer: []
tags:
- name: DomainPriceService
  x-displayName: DomainPrice
paths:
  /v1beta/domains/prices:
    get:
      tags:
      - DomainPriceService
      summary: Get price
      externalDocs:
        description: For more detailed information on this method check our guide
        url: https://support.openprovider.eu/hc/en-us/articles/360023776313
      operationId: GetPrice
      parameters:
      - type: string
        description: Domain name without extension.
        name: domain.name
        in: query
      - type: string
        description: Domain extension.
        name: domain.extension
        in: query
      - type: string
        description: Domain operation.
        name: operation
        in: query
      - type: string
        description: 'The idn script states what language or character set the domain name is in

          Applicable to: .actor, .ae.org, .airforce, .army, .art, .attorney, .auction, .band, .bar, .best, .br.com, .ceo, .cn.com, .college, .com, .com.de, .com.se, .consulting, .dance, .de.com, .degree, .democrat, .dentist, .design, .engineer, .eu.com, .eus, .feedback, .fm, .forsale, .frl, .fun, .futbol, .gal, .gb.net, .gives, .gr.com, .haus, .hiv, .host, .immobilien, .in.net, .info, .ink, .jp.net, .jpn.com, .kaufen, .kyoto, .lawyer, .love, .market, .me, .mex.com, .moda, .mortgage, .navy, .net, .ninja, .nrw, .online, .ooo, .org, .press, .protection, .pub, .pw, .quebec, .radio.am, .radio.fm, .realty, .rehab, .rent, .republican, .rest, .reviews, .rip, .rocks, .ru.com, .sa.com, .scot, .se.net, .security, .site, .social, .software, .space, .store, .tech, .theatre, .tickets, .top, .uk.com, .uk.net, .us.com, .us.org, .vet, .website, .wiki, .xn--4gbrim, .xn--55qx5d, .xn--5tzm5g, .xn--80asehdb, .xn--80aswg, .xn--c1avg, .xn--czru2d, .xn--i1b6b1a6a2e, .xn--io0a7i, .xn--mk1bu44c, .xn--ngbc5azd, .xn--nqv7f, .xn--t60b56a, .xn--tckwe, .xyz, .za.com.'
        name: additional_data.idn_script
        in: query
      - type: integer
        format: int32
        description: Operation period.
        name: period
        in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/priceGetPriceResponse'
        default:
          description: (empty)
          schema:
            $ref: '#/definitions/errorError'
definitions:
  priceGetPriceResponse:
    type: object
    title: GetPriceResponse
    properties:
      code:
        type: integer
        format: int32
        title: Response code
      data:
        title: The data
        $ref: '#/definitions/priceGetPriceResponseData'
      desc:
        type: string
        title: Response description
      maintenance:
        type: boolean
        format: boolean
        title: Indicates if Openprovider API is on maintenance
      warnings:
        type: array
        title: Array of warning messages
        items:
          $ref: '#/definitions/errorWarning'
    example:
      code: 0
      data:
        is_premium: false
        is_promotion: false
        membership_price:
          product:
            currency: USD
            price: 8.06
          reseller:
            currency: USD
            price: 8.06
        price:
          product:
            currency: USD
            price: 8.06
          reseller:
            currency: USD
            price: 8.06
        promotion_data:
          end_date: '1589932800'
          start_date: '1582156800'
        tier_price:
          product:
            currency: USD
            price: 8.06
          reseller:
            currency: USD
            price: 8.06
      desc: ''
  pricePromotionData:
    type: object
    title: PromotionData
    properties:
      end_date:
        type: string
        title: Date when promotion is end
      start_date:
        type: string
        title: Date when promotion is start
    example:
      end_date: '1589932800'
      start_date: '1582156800'
  domainPrice:
    type: object
    title: Price
    properties:
      currency:
        type: string
        title: Product or reseller currency
      price:
        type: number
        format: double
        title: Amount in product or reseller currency
    example:
      currency: USD
      price: 8.06
  domainPriceGroup:
    type: object
    title: PriceGroup
    properties:
      product:
        title: Amount in product currency
        $ref: '#/definitions/domainPrice'
      reseller:
        title: Amount in reseller currency
        $ref: '#/definitions/domainPrice'
    example:
      product:
        currency: USD
        price: 8.06
      reseller:
        currency: USD
        price: 8.06
  priceGetPriceResponseData:
    type: object
    title: GetPriceResponseData
    properties:
      is_premium:
        type: boolean
        format: boolean
        title: Indicates whether domain is premium or not
      is_promotion:
        type: boolean
        format: boolean
        title: Indicates whether price is promotion or not
      membership_price:
        title: Operation membership price
        $ref: '#/definitions/domainPriceGroup'
      price:
        title: Operation price
        $ref: '#/definitions/domainPriceGroup'
      promotion_data:
        title: Promotion data
        $ref: '#/definitions/pricePromotionData'
      tier_price:
        title: Operation price without promo
        $ref: '#/definitions/domainPriceGroup'
    example:
      is_premium: false
      is_promotion: false
      membership_price:
        product:
          currency: USD
          price: 8.06
        reseller:
          currency: USD
          price: 8.06
      price:
        product:
          currency: USD
          price: 8.06
        reseller:
          currency: USD
          price: 8.06
      promotion_data:
        end_date: '1589932800'
        start_date: '1582156800'
      tier_price:
        product:
          currency: USD
          price: 8.06
        reseller:
          currency: USD
          price: 8.06
  errorError:
    type: object
    title: Error
    properties:
      code:
        type: integer
        format: int32
        title: Error code
      data:
        type: string
        title: Additional error description
      desc:
        type: string
        title: Error description
    example:
      code: 0
      data: ''
      desc: ''
  errorWarning:
    type: object
    title: Warning
    properties:
      code:
        type: integer
        format: int32
        title: Warning code
      data:
        type: string
        title: Additional warning description
      desc:
        type: string
        title: Warning description
    example:
      code: 0
      data: ''
      desc: ''
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
    x-linkTo: tag/descAuthentication
x-tagGroups:
- name: Introduction
  tags:
  - descAbout
  - descGettingStarted
  - descEndpoints
  - descAuthentication
- name: Quick Start
  tags:
  - descCustomerQuickstart
  - descDomainQuickstart
  - descTLDQuickstart
  - descDNSQuickstart
  - descSSLQuickstart
- name: Auth
  tags:
  - Auth
  - SpamExpert
- name: Billing
  tags:
  - InvoiceService
  - Payment
  - Transaction
- name: DNS
  tags:
  - DomainToken
  - NameserverService
  - NsGroupService
  - TemplateService
  - ZoneService
  - ZoneRecordService
- name: Domain
  tags:
  - DomainService
  - AdditionalData
  - CustomerAdditionalData
  - DomainPriceService
  - AuthCode
  - TldService
- name: EasyDmarc
  tags:
  - EasydmarcOrder
- name: Email template
  tags:
  - Email
- name: License
  tags:
  - LicenseService
- name: Reseller/Customer
  tags:
  - ContactService
  - Customer
  - EmailVerification
  - ResellerService
  - Settings
  - Statistics
  - TagService
- name: Spam Experts
  tags:
  - SEDomain
- name: SSL
  tags:
  - ApproverEmail
  - Csr
  - Order
  - OrderApproverEmail
  - OtpToken
  - Product
