swagger: '2.0'
info:
  title: REST AdditionalData ResellerService API
  version: 1.0.0-beta
host: api.openprovider.eu
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- Bearer: []
tags:
- name: ResellerService
  x-displayName: Reseller
paths:
  /v1beta/resellers:
    get:
      tags:
      - ResellerService
      summary: Get reseller
      externalDocs:
        description: For more detailed information on this method check our guide
        url: https://doc.openprovider.eu/API_Module_Reseller_retrieveResellerRequest
      operationId: GetReseller
      parameters:
      - type: boolean
        format: boolean
        description: Retrieves objects with (1) or without (0) additional data.
        name: with_additional_data
        in: query
      - type: boolean
        format: boolean
        description: Indicates if reseller statistics should be retrieved.
        name: with_statistics
        in: query
      - type: boolean
        format: boolean
        description: Indicates if reseller settings should be retrieved.
        name: with_settings
        in: query
      - type: boolean
        format: boolean
        description: Indicates if reseller contacts should be retrieved.
        name: with_contacts
        in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/resellerGetResellerResponse'
        default:
          description: (empty)
          schema:
            $ref: '#/definitions/errorError'
  /v1beta/resellers/{id}:
    put:
      tags:
      - ResellerService
      summary: Update reseller
      operationId: UpdateReseller
      parameters:
      - type: integer
        format: int32
        description: Object ID
        name: id
        in: path
        required: true
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/resellerUpdateResellerRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/resellerUpdateResellerResponse'
        default:
          description: (empty)
          schema:
            $ref: '#/definitions/errorError'
definitions:
  attributesCompanySize:
    description: "- UNKNOWN_COMPANY_SIZE: Unknown company size, e.g reseller just created account or didn't specified company size\n - BETWEEN_1_AND_10: Company has from 1 to 10 employees\n - BETWEEN_11_AND_50: Company has from 11 to 50 employees\n - BETWEEN_51_AND_200: Company has from 51 to 200 employees\n - BETWEEN_201_AND_500: Company has from 201 to 500 employees\n - BETWEEN_501_AND_1000: Company has from 501 to 1000 employees\n - MORE_THAN_1000: Company more than 1000 employees"
    type: string
    title: The size of reseller's company
    default: UNKNOWN_COMPANY_SIZE
    enum:
    - UNKNOWN_COMPANY_SIZE
    - BETWEEN_1_AND_10
    - BETWEEN_11_AND_50
    - BETWEEN_51_AND_200
    - BETWEEN_201_AND_500
    - BETWEEN_501_AND_1000
    - MORE_THAN_1000
  resellerGetResellerResponse:
    type: object
    title: GetResellerResponse
    properties:
      code:
        type: integer
        format: int32
        title: Response code
      data:
        title: Response data
        $ref: '#/definitions/resellerReseller'
      desc:
        type: string
        title: Response description
      maintenance:
        type: boolean
        format: boolean
        title: Indicates if Openprovider API is on maintenance
      warnings:
        type: array
        title: Array of warning messages
        items:
          $ref: '#/definitions/errorWarning'
    example:
      code: 0
      data:
        additional_data:
          cif_nif_number: '12345678'
          gstin: 123456789aaa
          internal_reference: ''
        address:
          city: Test city
          country: NL
          number: '123'
          state: Testprovince
          street: Test street
          suffix: A
          zipcode: 1235 XX
        balance: 99999
        comments: Some comment here
        company_name: Example company
        contacts:
        - additional_data:
            birth_city: Test city
            birth_date: '1969-12-31'
            social_security_number: 12326178T
          address:
            city: Test city
            country: NL
            number: '123'
            state: Testprovince
            street: Test street
            suffix: A
            zipcode: 1235 XX
          api_access_enabled: true
          api_client_ip_list:
            allow:
            - 127.0.0.1
            deny:
            - 127.0.0.1
          auth_type: simple
          comments: ''
          company_name: Example company
          email: test@mail.tld
          hash_changed_at: '2019-03-25 10:17:02'
          id: 123456789
          is_active: false
          last_api_call_at: '2019-03-25 10:17:01'
          last_login_at: '2019-04-12 11:58:39'
          locale: nl_NL
          name:
            first_name: Test
            full_name: Test Person
            initials: T P
            last_name: Person
            prefix: Mr
          password_change_declined_at: '2019-03-23 12:32:15'
          password_changed_at: '2019-03-25 10:17:00'
          phone:
            area_code: '111'
            country_code: '+03'
            subscriber_number: '123456'
          rcp_client_ip_list:
            allow:
            - 127.0.0.1
            deny:
            - 127.0.0.1
          reseller_id: 12345
          role: admin
          secret_key: SECRETKEYVALUE
          username: user_name
          vat: XX123456789X12
        email: ''
        fax:
          area_code: ''
          country_code: ''
          subscriber_number: ''
        id: 123456789
        locale: nl_NL
        name:
          first_name: Test
          full_name: Test Person
          initials: T P
          last_name: Person
          prefix: Mr
        phone:
          area_code: '111'
          country_code: '+03'
          subscriber_number: '123456'
        reserved_balance: 1111.11
        settings:
          av_handle: XX123456-XX
          claims_confirm_url: http://www.domain.tld/confirm-tm_claims.php?domainId=%%domainId%%&domain=%%domain%%&code=%%authCode%%
          claims_email_subject: Hi there! You need to accept registration for %%domain%%!
          claims_reseller_name: Jon Doe's Webhosting!!
          claims_sender_email: test@mail.tld
          currency: EUR
          default_domain_billing_handle: XX123456-XX
          default_domain_reseller_handle: XX123456-XX
          foa_confirm_url: ''
          foa_email_subject: ''
          foa_reseller_name: ''
          foa_sender_email: ''
          foa_terms_conditions_url: ''
          is_auto_renew_enabled: false
          is_custom_nses_enabled: false
          ive2_customized_body: ''
          ive2_email_subject: '[URGENT REMINDER] Request for e-mail address verification'
          ive_confirm_url: http://icann-verification.registrar.eu/?email=%%email%%&authCode=%%authCode%%
          ive_customized_body: ''
          ive_email_subject: Request for e-mail address verification
          ive_reseller_name: sdasd
          ive_sender_email: do-not-reply@registrar.eu
          jurisdiction: EU
          language: EN
          maximum_credit: 20000
          maximum_credit_card_payment: 15000
          maximum_i_deal_payment: 1000000
          maximum_western_union_payment: 1000
          minimum_payment: 20
          minimum_western_union_payment: 500
          pay_methods:
          - ideal
          payment_methods:
          - name: ideal
            settings:
              limit:
                maximum:
                  aud: 0
                  bgn: 0
                  brl: 0
                  cad: 0
                  chf: 0
                  cny: 0
                  czk: 0
                  dkk: 0
                  eek: 0
                  eur: 0
                  gbp: 0
                  ghs: 0
                  hkd: 0
                  hrk: 0
                  huf: 0
                  idr: 0
                  ils: 0
                  inr: 0
                  jpy: 0
                  krw: 0
                  lkr: 0
                  ltl: 0
                  lvl: 0
                  mxn: 0
                  myr: 0
                  nok: 0
                  nzd: 0
                  php: 0
                  pln: 0
                  ron: 0
                  rub: 0
                  sek: 0
                  sgd: 0
                  thb: 0
                  try: 0
                  usd: 0
                  zar: 0
                minimum:
                  aud: 0
                  bgn: 0
                  brl: 0
                  cad: 0
                  chf: 0
                  cny: 0
                  czk: 0
                  dkk: 0
                  eek: 0
                  eur: 0
                  gbp: 0
                  ghs: 0
                  hkd: 0
                  hrk: 0
                  huf: 0
                  idr: 0
                  ils: 0
                  inr: 0
                  jpy: 0
                  krw: 0
                  lkr: 0
                  ltl: 0
                  lvl: 0
                  mxn: 0
                  myr: 0
                  nok: 0
                  nzd: 0
                  php: 0
                  pln: 0
                  ron: 0
                  rub: 0
                  sek: 0
                  sgd: 0
                  thb: 0
                  try: 0
                  usd: 0
                  zar: 0
              transaction_fee: 0
              transaction_fee_absolute: 0
          preregistered_domain_priorities: '[]'
          recurring_payment_methods:
          - name: ideal
            settings:
              limit:
                maximum:
                  aud: 0
                  bgn: 0
                  brl: 0
                  cad: 0
                  chf: 0
                  cny: 0
                  czk: 0
                  dkk: 0
                  eek: 0
                  eur: 0
                  gbp: 0
                  ghs: 0
                  hkd: 0
                  hrk: 0
                  huf: 0
                  idr: 0
                  ils: 0
                  inr: 0
                  jpy: 0
                  krw: 0
                  lkr: 0
                  ltl: 0
                  lvl: 0
                  mxn: 0
                  myr: 0
                  nok: 0
                  nzd: 0
                  php: 0
                  pln: 0
                  ron: 0
                  rub: 0
                  sek: 0
                  sgd: 0
                  thb: 0
                  try: 0
                  usd: 0
                  zar: 0
                minimum:
                  aud: 0
                  bgn: 0
                  brl: 0
                  cad: 0
                  chf: 0
                  cny: 0
                  czk: 0
                  dkk: 0
                  eek: 0
                  eur: 0
                  gbp: 0
                  ghs: 0
                  hkd: 0
                  hrk: 0
                  huf: 0
                  idr: 0
                  ils: 0
                  inr: 0
                  jpy: 0
                  krw: 0
                  lkr: 0
                  ltl: 0
                  lvl: 0
                  mxn: 0
                  myr: 0
                  nok: 0
                  nzd: 0
                  php: 0
                  pln: 0
                  ron: 0
                  rub: 0
                  sek: 0
                  sgd: 0
                  thb: 0
                  try: 0
                  usd: 0
                  zar: 0
              transaction_fee: 0
              transaction_fee_absolute: 0
          renew_notification_days:
          - 1
          renew_notification_every_week: false
          tac_contract:
            is_signed: false
            name: opensign_terms_and_conditions
            signed_at: '2014-07-16 15:22:48'
            type: opensign
          tags:
          - VIPCUSTOMER
          transaction_fee:
            bank: 0
            credit_card: 3
            ideal: 0
            paypal: 5
            western_union: 0
            yandex: 5
          type: normal
        statistics:
          currency:
            modified: '2010-08-01 9:30:54'
          customer:
            modified: '2019-05-03 13:23:01'
            total: 999
          dns:
            total: 999
          domain:
            by_status:
              act: 7
              fai: 419
              nsr: 0
              pen: 0
              rej: 5
              req: 15
            total: 999
          level: 3
          license:
            total: 999
          spam_experts:
            activated_at: '2012-10-29 10:48:30'
            created_at: '2012-10-29 10:48:30'
            exists: false
            expired_at: '2016-04-05 8:50:34'
            incoming_count: 0
            incoming_limit: 10
            outgoing_count: 0
            outgoing_limit: 1
            status: deleted
            with_outgoing_filter: false
          ssl:
            by_status:
              act: 7
              fai: 419
              nsr: 0
              pen: 0
              rej: 5
              req: 15
            total: 999
        status: new
        tier: 3
        vat: ''
        vatperc: 21
      desc: ''
  resellerUpdateResellerResponse:
    type: object
    title: UpdateResellerResponse
    properties:
      code:
        type: integer
        format: int32
        title: Response code
      data:
        title: Response data
        $ref: '#/definitions/resellerUpdateResellerResponseData'
      desc:
        type: string
        title: Response description
      maintenance:
        type: boolean
        format: boolean
        title: Indicates if Openprovider API is on maintenance
      warnings:
        type: array
        title: Array of warning messages
        items:
          $ref: '#/definitions/errorWarning'
    example:
      code: 0
      data:
        success: false
      desc: ''
  resellerSettings:
    type: object
    title: Settings
    properties:
      av_handle:
        type: string
        title: Account administrative handle
      claims_confirm_url:
        type: string
        title: Trademark claims confirmation URL
      claims_email_subject:
        type: string
        title: Trademark claims email subject
      claims_reseller_name:
        type: string
        title: Trademark claims reseller name
      claims_sender_email:
        type: string
        title: Trademark claims sender email address
      currency:
        type: string
        title: The currency
      default_domain_billing_handle:
        type: string
        title: BIlling handle used by default for domain registrations
      default_domain_reseller_handle:
        type: string
        title: Reseller handle used by default for domain registrations
      foa_confirm_url:
        type: string
        title: Form of authorization confirmation URL
      foa_email_subject:
        type: string
        title: Form of authorization email subject
      foa_reseller_name:
        type: string
        title: Reseller name to display in form of authorization emails
      foa_sender_email:
        type: string
        title: Sender email to display in form of authorization emails
      foa_terms_conditions_url:
        type: string
        title: URL to form of authorization T&Cs to display
      is_auto_renew_enabled:
        type: boolean
        format: boolean
        title: Global autorenew setting status
      is_custom_nses_enabled:
        type: boolean
        format: boolean
        title: Indicates if custom NS records allowed for reseller's DNS zones
      ive2_customized_body:
        type: string
        title: Customized subject of email verification reminder messages
      ive2_email_subject:
        type: string
        title: Customized subject of email verification reminder messages
      ive_confirm_url:
        type: string
        title: Email verification confirmation URL
      ive_customized_body:
        type: string
        title: Customized contents of email verification messages
      ive_email_subject:
        type: string
        title: Customized subject of email verification messages
      ive_reseller_name:
        type: string
        title: Reseller name to display in email verification messages
      ive_sender_email:
        type: string
        title: Sender email address to display in email verification messages
      jurisdiction:
        type: string
        title: Reseller's jurisdiction
      language:
        type: string
        title: The language
      maximum_credit:
        type: number
        format: double
        title: Maximum credit allowed for reseller
      maximum_credit_card_payment:
        type: number
        format: double
        title: Maximum amount allowed to be paid using specified payment method
      maximum_i_deal_payment:
        type: number
        format: double
        title: Maximum amount allowed to be paid using specified payment method
      maximum_western_union_payment:
        type: number
        format: double
        title: Maximum amount allowed to be paid using specified payment method
      minimum_payment:
        type: number
        format: double
        title: Minimal payment
      minimum_western_union_payment:
        type: number
        format: double
        title: Minimal amount allowed to be paid using specified payment method
      pay_methods:
        type: array
        title: Payment methods
        items:
          type: string
      payment_methods:
        type: array
        title: Reseller recurring payment methods settings
        items:
          $ref: '#/definitions/settingsPaymentMethods'
      preregistered_domain_priorities:
        type: string
        title: The preregistered domain priorities
      recurring_payment_methods:
        type: array
        title: Reseller payment methods settings
        items:
          $ref: '#/definitions/settingsPaymentMethods'
      renew_notification_days:
        type: array
        title: Days before renewal reminder messages are sent
        items:
          type: integer
          format: int32
      renew_notification_every_week:
        type: boolean
        format: boolean
        title: Renew notification every week setting
      tac_contract:
        title: Openprovider T&C contract
        $ref: '#/definitions/settingsTacContract'
      tags:
        type: array
        title: Custom tags applied to entity
        items:
          type: string
      transaction_fee:
        title: Additional fee per payment
        $ref: '#/definitions/settingsTransactionFee'
      type:
        type: string
        title: The type
    example:
      av_handle: XX123456-XX
      claims_confirm_url: http://www.domain.tld/confirm-tm_claims.php?domainId=%%domainId%%&domain=%%domain%%&code=%%authCode%%
      claims_email_subject: Hi there! You need to accept registration for %%domain%%!
      claims_reseller_name: Jon Doe's Webhosting!!
      claims_sender_email: test@mail.tld
      currency: EUR
      default_domain_billing_handle: XX123456-XX
      default_domain_reseller_handle: XX123456-XX
      foa_confirm_url: ''
      foa_email_subject: ''
      foa_reseller_name: ''
      foa_sender_email: ''
      foa_terms_conditions_url: ''
      is_auto_renew_enabled: false
      is_custom_nses_enabled: false
      ive2_customized_body: ''
      ive2_email_subject: '[URGENT REMINDER] Request for e-mail address verification'
      ive_confirm_url: http://icann-verification.registrar.eu/?email=%%email%%&authCode=%%authCode%%
      ive_customized_body: ''
      ive_email_subject: Request for e-mail address verification
      ive_reseller_name: sdasd
      ive_sender_email: do-not-reply@registrar.eu
      jurisdiction: EU
      language: EN
      maximum_credit: 20000
      maximum_credit_card_payment: 15000
      maximum_i_deal_payment: 1000000
      maximum_western_union_payment: 1000
      minimum_payment: 20
      minimum_western_union_payment: 500
      pay_methods:
      - ideal
      payment_methods:
      - name: ideal
        settings:
          limit:
            maximum:
              aud: 0
              bgn: 0
              brl: 0
              cad: 0
              chf: 0
              cny: 0
              czk: 0
              dkk: 0
              eek: 0
              eur: 0
              gbp: 0
              ghs: 0
              hkd: 0
              hrk: 0
              huf: 0
              idr: 0
              ils: 0
              inr: 0
              jpy: 0
              krw: 0
              lkr: 0
              ltl: 0
              lvl: 0
              mxn: 0
              myr: 0
              nok: 0
              nzd: 0
              php: 0
              pln: 0
              ron: 0
              rub: 0
              sek: 0
              sgd: 0
              thb: 0
              try: 0
              usd: 0
              zar: 0
            minimum:
              aud: 0
              bgn: 0
              brl: 0
              cad: 0
              chf: 0
              cny: 0
              czk: 0
              dkk: 0
              eek: 0
              eur: 0
              gbp: 0
              ghs: 0
              hkd: 0
              hrk: 0
              huf: 0
              idr: 0
              ils: 0
              inr: 0
              jpy: 0
              krw: 0
              lkr: 0
              ltl: 0
              lvl: 0
              mxn: 0
              myr: 0
              nok: 0
              nzd: 0
              php: 0
              pln: 0
              ron: 0
              rub: 0
              sek: 0
              sgd: 0
              thb: 0
              try: 0
              usd: 0
              zar: 0
          transaction_fee: 0
          transaction_fee_absolute: 0
      preregistered_domain_priorities: '[]'
      recurring_payment_methods:
      - name: ideal
        settings:
          limit:
            maximum:
              aud: 0
              bgn: 0
              brl: 0
              cad: 0
              chf: 0
              cny: 0
              czk: 0
              dkk: 0
              eek: 0
              eur: 0
              gbp: 0
              ghs: 0
              hkd: 0
              hrk: 0
              huf: 0
              idr: 0
              ils: 0
              inr: 0
              jpy: 0
              krw: 0
              lkr: 0
              ltl: 0
              lvl: 0
              mxn: 0
              myr: 0
              nok: 0
              nzd: 0
              php: 0
              pln: 0
              ron: 0
              rub: 0
              sek: 0
              sgd: 0
              thb: 0
              try: 0
              usd: 0
              zar: 0
            minimum:
              aud: 0
              bgn: 0
              brl: 0
              cad: 0
              chf: 0
              cny: 0
              czk: 0
              dkk: 0
              eek: 0
              eur: 0
              gbp: 0
              ghs: 0
              hkd: 0
              hrk: 0
              huf: 0
              idr: 0
              ils: 0
              inr: 0
              jpy: 0
              krw: 0
              lkr: 0
              ltl: 0
              lvl: 0
              mxn: 0
              myr: 0
              nok: 0
              nzd: 0
              php: 0
              pln: 0
              ron: 0
              rub: 0
              sek: 0
              sgd: 0
              thb: 0
              try: 0
              usd: 0
              zar: 0
          transaction_fee: 0
          transaction_fee_absolute: 0
      renew_notification_days:
      - 1
      renew_notification_every_week: false
      tac_contract:
        is_signed: false
        name: opensign_terms_and_conditions
        signed_at: '2014-07-16 15:22:48'
        type: opensign
      tags:
      - VIPCUSTOMER
      transaction_fee:
        bank: 0
        credit_card: 3
        ideal: 0
        paypal: 5
        western_union: 0
        yandex: 5
      type: normal
  contactPhone:
    type: object
    title: Phone
    properties:
      area_code:
        type: string
        title: Area code part of the phone number (excluding leading zero)
      country_code:
        type: string
        title: Country code part of the phone number (including +)
      subscriber_number:
        type: string
        title: Subscriber number part of the phone number
    example:
      area_code: '111'
      country_code: '+03'
      subscriber_number: '123456'
  customerFax:
    type: object
    title: Fax
    properties:
      area_code:
        type: string
        title: Area code part of the phone number (excluding leading zero)
      country_code:
        type: string
        title: Country code part of the phone number (including +)
      subscriber_number:
        type: string
        title: Subscriber number part of the phone number
    example:
      area_code: ''
      country_code: ''
      subscriber_number: ''
  settingsTacContract:
    type: object
    title: TacContract
    properties:
      is_signed:
        type: boolean
        format: boolean
        title: Indicates if contract is signed
      name:
        type: string
        title: The name
      signed_at:
        type: string
        title: Contract signing date
      type:
        type: string
        title: The type
    example:
      is_signed: false
      name: opensign_terms_and_conditions
      signed_at: '2014-07-16 15:22:48'
      type: opensign
  resellerStatistics:
    type: object
    title: Statistics
    properties:
      currency:
        title: The currency
        $ref: '#/definitions/statisticsCurrencyStatistics'
      customer:
        title: The customer
        $ref: '#/definitions/statisticsCustomerStatistics'
      dns:
        title: Total count of DNS zones
        $ref: '#/definitions/statisticsDnsStatistics'
      domain:
        title: Statistics for domains
        $ref: '#/definitions/statisticsDomainStatistics'
      level:
        type: integer
        format: int32
        title: Openprovider discount tier
      license:
        title: Statistics for Plesk / Virtuozzo licenses
        $ref: '#/definitions/statisticsLicenseStatistics'
      spam_experts:
        title: Statistics for Spamexperts bundles
        $ref: '#/definitions/statisticsSpamExpertsStatistics'
      ssl:
        title: Statistics for SSL
        $ref: '#/definitions/statisticsSslStatistics'
    example:
      currency:
        modified: '2010-08-01 9:30:54'
      customer:
        modified: '2019-05-03 13:23:01'
        total: 999
      dns:
        total: 999
      domain:
        by_status:
          act: 7
          fai: 419
          nsr: 0
          pen: 0
          rej: 5
          req: 15
        total: 999
      level: 3
      license:
        total: 999
      spam_experts:
        activated_at: '2012-10-29 10:48:30'
        created_at: '2012-10-29 10:48:30'
        exists: false
        expired_at: '2016-04-05 8:50:34'
        incoming_count: 0
        incoming_limit: 10
        outgoing_count: 0
        outgoing_limit: 1
        status: deleted
        with_outgoing_filter: false
      ssl:
        by_status:
          act: 7
          fai: 419
          nsr: 0
          pen: 0
          rej: 5
          req: 15
        total: 999
  attributesIndustry:
    description: "- UNKNOWN_INDUSTRY: Industry is not specified\n - DOMAIN_REGISTRAR: Reseller's industry is domain registar\n - CLOUD_SERVICES: Reseller's industry is cloud services\n - MARKETING_AGENCIES: Reseller's industry is marketing agencies\n - NETWORKING_SERVICES: Reseller's industry is networking services\n - WEB_HOSTING: Reseller's industry is web hosting\n - SOFTWARE_DEVELOPMENT: Reseller's industry is software development\n - WEBSITE_BUILDERS: Reseller's industry is website builders\n - SECURITY_SERVICES: Reseller's industry is security services\n - IT_SERVICES: Reseller's industry is IT services\n - FREELANCER: Reseller's industry is freelancing services"
    type: string
    title: Reseller's industry
    default: UNKNOWN_INDUSTRY
    enum:
    - UNKNOWN_INDUSTRY
    - DOMAIN_REGISTRAR
    - CLOUD_SERVICES
    - MARKETING_AGENCIES
    - NETWORKING_SERVICES
    - WEB_HOSTING
    - SOFTWARE_DEVELOPMENT
    - WEBSITE_BUILDERS
    - SECURITY_SERVICES
    - IT_SERVICES
    - FREELANCER
  contactName:
    type: object
    title: Name
    properties:
      first_name:
        type: string
        title: First name
      full_name:
        type: string
        title: Full name
      initials:
        type: string
        title: Initials (first letters of first names, first letter of last name)
      last_name:
        type: string
        title: Last name
      prefix:
        type: string
        title: Prefix (often occuring in Dutch names; for example van de)
    example:
      first_name: Test
      full_name: Test Person
      initials: T P
      last_name: Person
      prefix: Mr
  personcontactContact:
    type: object
    title: Contact
    properties:
      additional_data:
        title: Collection of data fields that contain additional customer information
        $ref: '#/definitions/contactAdditionalData'
      address:
        title: Address
        $ref: '#/definitions/contactAddress'
      api_access_enabled:
        type: boolean
        format: boolean
        title: Indicates if API access is enabled for the contact
      api_client_ip_list:
        title: API access IP whitelist / blacklist
        $ref: '#/definitions/contactClientIpList'
      auth_type:
        type: string
        title: Autherntication type
      comments:
        type: string
        title: Custom notes to the specified handle
      company_name:
        type: string
        title: Company name
      email:
        type: string
        title: Email address
      hash_changed_at:
        type: string
        title: Date of last hash update
      id:
        type: integer
        format: int32
        title: Object ID
      is_active:
        type: boolean
        format: boolean
        title: Indicates if contact is active
      last_api_call_at:
        type: string
        title: Last API call date
      last_login_at:
        type: string
        title: Last login date
      locale:
        type: string
        title: Customer's language
      name:
        title: Full name
        $ref: '#/definitions/contactName'
      password_change_declined_at:
        type: string
        title: Password change declined date
      password_changed_at:
        type: string
        title: Last password change date
      phone:
        title: Phone number
        $ref: '#/definitions/contactPhone'
      rcp_client_ip_list:
        title: RCP access IP whitelist / blacklist
        $ref: '#/definitions/contactClientIpList'
      reseller_id:
        type: integer
        format: int32
        title: Reseller ID
      role:
        type: string
        title: Contact's role
      secret_key:
        type: string
        title: The secret key
      username:
        type: string
        title: Username
      vat:
        type: string
        title: VAT (value-added tax) number of the customer
    example:
      additional_data:
        birth_city: Test city
        birth_date: '1969-12-31'
        social_security_number: 12326178T
      address:
        city: Test city
        country: NL
        number: '123'
        state: Testprovince
        street: Test street
        suffix: A
        zipcode: 1235 XX
      api_access_enabled: true
      api_client_ip_list:
        allow:
        - 127.0.0.1
        deny:
        - 127.0.0.1
      auth_type: simple
      comments: ''
      company_name: Example company
      email: test@mail.tld
      hash_changed_at: '2019-03-25 10:17:02'
      id: 123456789
      is_active: false
      last_api_call_at: '2019-03-25 10:17:01'
      last_login_at: '2019-04-12 11:58:39'
      locale: nl_NL
      name:
        first_name: Test
        full_name: Test Person
        initials: T P
        last_name: Person
        prefix: Mr
      password_change_declined_at: '2019-03-23 12:32:15'
      password_changed_at: '2019-03-25 10:17:00'
      phone:
        area_code: '111'
        country_code: '+03'
        subscriber_number: '123456'
      rcp_client_ip_list:
        allow:
        - 127.0.0.1
        deny:
        - 127.0.0.1
      reseller_id: 12345
      role: admin
      secret_key: SECRETKEYVALUE
      username: user_name
      vat: XX123456789X12
  statisticsDnsStatistics:
    type: object
    title: DnsStatistics
    properties:
      total:
        type: integer
        format: int32
        title: Total number of entities matching search criteria
    example:
      total: 999
  settingsPaymentMethods:
    type: object
    title: PaymentMethods
    properties:
      name:
        type: string
        title: Payment method name
      settings:
        title: Payment method settings
        $ref: '#/definitions/settingsPaymentMethodSettings'
    example:
      name: ideal
      settings:
        limit:
          maximum:
            aud: 0
            bgn: 0
            brl: 0
            cad: 0
            chf: 0
            cny: 0
            czk: 0
            dkk: 0
            eek: 0
            eur: 0
            gbp: 0
            ghs: 0
            hkd: 0
            hrk: 0
            huf: 0
            idr: 0
            ils: 0
            inr: 0
            jpy: 0
            krw: 0
            lkr: 0
            ltl: 0
            lvl: 0
            mxn: 0
            myr: 0
            nok: 0
            nzd: 0
            php: 0
            pln: 0
            ron: 0
            rub: 0
            sek: 0
            sgd: 0
            thb: 0
            try: 0
            usd: 0
            zar: 0
          minimum:
            aud: 0
            bgn: 0
            brl: 0
            cad: 0
            chf: 0
            cny: 0
            czk: 0
            dkk: 0
            eek: 0
            eur: 0
            gbp: 0
            ghs: 0
            hkd: 0
            hrk: 0
            huf: 0
            idr: 0
            ils: 0
            inr: 0
            jpy: 0
            krw: 0
            lkr: 0
            ltl: 0
            lvl: 0
            mxn: 0
            myr: 0
            nok: 0
            nzd: 0
            php: 0
            pln: 0
            ron: 0
            rub: 0
            sek: 0
            sgd: 0
            thb: 0
            try: 0
            usd: 0
            zar: 0
        transaction_fee: 0
        transaction_fee_absolute: 0
  statisticsLicenseStatistics:
    type: object
    title: LicenseStatistics
    properties:
      total:
        type: integer
        format: int32
        title: Total number of entities matching search criteria
    example:
      total: 999
  statisticsDomainStatistics:
    type: object
    title: DomainStatistics
    properties:
      by_status:
        title: Sort output by status
        $ref: '#/definitions/statisticsDomainStatisticsByStatus'
      total:
        type: integer
        format: int32
        title: Total number of entities matching search criteria
    example:
      by_status:
        act: 7
        fai: 419
        nsr: 0
        pen: 0
        rej: 5
        req: 15
      total: 999
  settingsPaymentMethodLimits:
    type: object
    title: PaymentMethodLimits
    properties:
      maximum:
        title: Maximal payment
        $ref: '#/definitions/settingsPaymentMethodLimit'
      minimum:
        title: Minimal payment
        $ref: '#/definitions/settingsPaymentMethodLimit'
    example:
      maximum:
        aud: 0
        bgn: 0
        brl: 0
        cad: 0
        chf: 0
        cny: 0
        czk: 0
        dkk: 0
        eek: 0
        eur: 0
        gbp: 0
        ghs: 0
        hkd: 0
        hrk: 0
        huf: 0
        idr: 0
        ils: 0
        inr: 0
        jpy: 0
        krw: 0
        lkr: 0
        ltl: 0
        lvl: 0
        mxn: 0
        myr: 0
        nok: 0
        nzd: 0
        php: 0
        pln: 0
        ron: 0
        rub: 0
        sek: 0
        sgd: 0
        thb: 0
        try: 0
        usd: 0
        zar: 0
      minimum:
        aud: 0
        bgn: 0
        brl: 0
        cad: 0
        chf: 0
        cny: 0
        czk: 0
        dkk: 0
        eek: 0
        eur: 0
        gbp: 0
        ghs: 0
        hkd: 0
        hrk: 0
        huf: 0
        idr: 0
        ils: 0
        inr: 0
        jpy: 0
        krw: 0
        lkr: 0
        ltl: 0
        lvl: 0
        mxn: 0
        myr: 0
        nok: 0
        nzd: 0
        php: 0
        pln: 0
        ron: 0
        rub: 0
        sek: 0
        sgd: 0
        thb: 0
        try: 0
        usd: 0
        zar: 0
  attributesDesignation:
    description: "- UNKNOWN_DESIGNATION: Designation is not specified\n - OWNER_FOUNDER_CEO: Owner/Founder/CEO\n - IT: IT\n - PRODUCT: Product\n - MARKETING: Marketing\n - PROCUREMENT: Procurement\n - SALES_BDR: Sales/BDR\n - OTHER_DESIGNATION: Other"
    type: string
    title: The designation of reseller signing up
    default: UNKNOWN_DESIGNATION
    enum:
    - UNKNOWN_DESIGNATION
    - OWNER_FOUNDER_CEO
    - IT
    - PRODUCT
    - MARKETING
    - PROCUREMENT
    - SALES_BDR
    - OTHER_DESIGNATION
  settingsPaymentMethodLimit:
    type: object
    title: PaymentMethodLimit
    properties:
      AUD:
        type: number
        format: double
        title: Currency
      BGN:
        type: number
        format: double
        title: Currency
      BRL:
        type: number
        format: double
        title: Currency
      CAD:
        type: number
        format: double
        title: Currency
      CHF:
        type: number
        format: double
        title: Currency
      CNY:
        type: number
        format: double
        title: Currency
      CZK:
        type: number
        format: double
        title: Currency
      DKK:
        type: number
        format: double
        title: Currency
      EEK:
        type: number
        format: double
        title: Currency
      EUR:
        type: number
        format: double
        title: Currency
      GBP:
        type: number
        format: double
        title: Currency
      GHS:
        type: number
        format: double
        title: Currency
      HKD:
        type: number
        format: double
        title: Currency
      HRK:
        type: number
        format: double
        title: Currency
      HUF:
        type: number
        format: double
        title: Currency
      IDR:
        type: number
        format: double
        title: Currency
      ILS:
        type: number
        format: double
        title: Currency
      INR:
        type: number
        format: double
        title: Currency
      JPY:
        type: number
        format: double
        title: Currency
      KRW:
        type: number
        format: double
        title: Currency
      LKR:
        type: number
        format: double
        title: Currency
      LTL:
        type: number
        format: double
        title: Currency
      LVL:
        type: number
        format: double
        title: Currency
      MXN:
        type: number
        format: double
        title: Currency
      MYR:
        type: number
        format: double
        title: Currency
      NOK:
        type: number
        format: double
        title: Currency
      NZD:
        type: number
        format: double
        title: Currency
      PHP:
        type: number
        format: double
        title: Currency
      PLN:
        type: number
        format: double
        title: Currency
      RON:
        type: number
        format: double
        title: Currency
      RUB:
        type: number
        format: double
        title: Currency
      SEK:
        type: number
        format: double
        title: Currency
      SGD:
        type: number
        format: double
        title: Currency
      THB:
        type: number
        format: double
        title: Currency
      TRY:
        type: number
        format: double
        title: Currency
      USD:
        type: number
        format: double
        title: Currency
      ZAR:
        type: number
        format: double
        title: Currency
    example:
      aud: 0
      bgn: 0
      brl: 0
      cad: 0
      chf: 0
      cny: 0
      czk: 0
      dkk: 0
      eek: 0
      eur: 0
      gbp: 0
      ghs: 0
      hkd: 0
      hrk: 0
      huf: 0
      idr: 0
      ils: 0
      inr: 0
      jpy: 0
      krw: 0
      lkr: 0
      ltl: 0
      lvl: 0
      mxn: 0
      myr: 0
      nok: 0
      nzd: 0
      php: 0
      pln: 0
      ron: 0
      rub: 0
      sek: 0
      sgd: 0
      thb: 0
      try: 0
      usd: 0
      zar: 0
  contactAdditionalData:
    type: object
    title: AdditionalData
    properties:
      birth_city:
        type: string
        title: Birth city
      birth_date:
        type: string
        title: Birth date
      social_security_number:
        type: string
        title: Social security number
    example:
      birth_city: Test city
      birth_date: '1969-12-31'
      social_security_number: 12326178T
  contactClientIpList:
    type: object
    title: ClientIpList
    properties:
      allow:
        type: array
        title: IP whitelist
        items:
          type: string
      deny:
        type: array
        title: Blacklisted IP addresses
        items:
          type: string
    example:
      allow:
      - 127.0.0.1
      deny:
      - 127.0.0.1
  resellerResellerAdditionalData:
    type: object
    title: ResellerAdditionalData
    properties:
      cif_nif_number:
        type: string
        title: Custom invoice information
      gstin:
        type: string
        title: The gstin
      internal_reference:
        type: string
        title: Custom invoice information
    example:
      cif_nif_number: '12345678'
      gstin: 123456789aaa
      internal_reference: ''
  statisticsDomainStatisticsByStatus:
    type: object
    title: DomainStatisticsByStatus
    properties:
      ACT:
        type: integer
        format: int32
        title: Active domains count
      FAI:
        type: integer
        format: int32
        title: Fax number
      NSR:
        type: integer
        format: int32
        title: The nsr
      PEN:
        type: integer
        format: int32
        title: Pending status
      REJ:
        type: integer
        format: int32
        title: Rejected status
      REQ:
        type: integer
        format: int32
        title: Requested status
    example:
      act: 7
      fai: 419
      nsr: 0
      pen: 0
      rej: 5
      req: 15
  errorWarning:
    type: object
    title: Warning
    properties:
      code:
        type: integer
        format: int32
        title: Warning code
      data:
        type: string
        title: Additional warning description
      desc:
        type: string
        title: Warning description
    example:
      code: 0
      data: ''
      desc: ''
  statisticsCustomerStatistics:
    type: object
    title: CustomerStatistics
    properties:
      modified:
        type: string
        title: The modified
      total:
        type: integer
        format: int32
        title: Total number of entities matching search criteria
    example:
      modified: '2019-05-03 13:23:01'
      total: 999
  settingsTransactionFee:
    type: object
    title: TransactionFee
    properties:
      bank:
        type: number
        format: double
        title: Payment method
      credit_card:
        type: number
        format: double
        title: Payment method
      ideal:
        type: number
        format: double
        title: Payment method
      paypal:
        type: number
        format: double
        title: Payment method
      western_union:
        type: number
        format: double
        title: Payment method
      yandex:
        type: number
        format: double
        title: Payment method
    example:
      bank: 0
      credit_card: 3
      ideal: 0
      paypal: 5
      western_union: 0
      yandex: 5
  statisticsCurrencyStatistics:
    type: object
    title: CurrencyStatistics
    properties:
      modified:
        type: string
        title: The modified
    example:
      modified: '2010-08-01 9:30:54'
  statisticsSpamExpertsStatistics:
    type: object
    title: SpamExpertsStatistics
    properties:
      activated_at:
        type: string
        title: Spamexperts bundle activation date
      created_at:
        type: string
        title: Date of Spamexperts bundle creation
      exists:
        type: boolean
        format: boolean
        title: Indicates if Spamexperts bundle exists
      expired_at:
        type: string
        title: Date of Spamexperts bundle expiration
      incoming_count:
        type: integer
        format: int32
        title: Incoming filters count
      incoming_limit:
        type: integer
        format: int32
        title: Incoming filters limit
      outgoing_count:
        type: integer
        format: int32
        title: Outgoing filters count
      outgoing_limit:
        type: integer
        format: int32
        title: Outgoing filters limit
      status:
        type: string
        title: The status
      with_outgoing_filter:
        type: boolean
        format: boolean
        title: Indicates if Spamexperts bundle supports outgoing filtering
    example:
      activated_at: '2012-10-29 10:48:30'
      created_at: '2012-10-29 10:48:30'
      exists: false
      expired_at: '2016-04-05 8:50:34'
      incoming_count: 0
      incoming_limit: 10
      outgoing_count: 0
      outgoing_limit: 1
      status: deleted
      with_outgoing_filter: false
  statisticsSslStatistics:
    type: object
    title: SslStatistics
    properties:
      by_status:
        title: Sort output by status
        $ref: '#/definitions/statisticsSslStatisticsByStatus'
      total:
        type: integer
        format: int32
        title: Total number of entities matching search criteria
    example:
      by_status:
        act: 7
        fai: 419
        nsr: 0
        pen: 0
        rej: 5
        req: 15
      total: 999
  resellerReseller:
    type: object
    title: Reseller
    properties:
      additional_data:
        title: Collection of data fields that contain additional customer information
        $ref: '#/definitions/resellerResellerAdditionalData'
      address:
        title: Address
        $ref: '#/definitions/contactAddress'
      balance:
        type: number
        format: double
        title: Available account balance
      comments:
        type: string
        title: Custom notes to the specified handle
      company_name:
        type: string
        title: Company name
      contacts:
        type: array
        title: Reseller contacts list
        items:
          $ref: '#/definitions/personcontactContact'
      email:
        type: string
        title: Email address
      fax:
        title: Fax number
        $ref: '#/definitions/customerFax'
      id:
        type: integer
        format: int32
        title: Object ID
      locale:
        type: string
        title: Customer's language
      name:
        title: The name
        $ref: '#/definitions/contactName'
      phone:
        title: Phone number
        $ref: '#/definitions/contactPhone'
      reserved_balance:
        type: number
        format: double
        title: Balance, reserved in reseller's account for pending transactions
      settings:
        title: Array of settings
        $ref: '#/definitions/resellerSettings'
      statistics:
        title: Reseller statistics
        $ref: '#/definitions/resellerStatistics'
      status:
        type: string
        title: The status
      tier:
        type: integer
        format: int32
        title: Openprovider discount tier
      vat:
        type: string
        title: Domain owner's VAT number
      vatperc:
        type: number
        format: double
        title: VAT percentage
    example:
      additional_data:
        cif_nif_number: '12345678'
        gstin: 123456789aaa
        internal_reference: ''
      address:
        city: Test city
        country: NL
        number: '123'
        state: Testprovince
        street: Test street
        suffix: A
        zipcode: 1235 XX
      balance: 99999
      comments: Some comment here
      company_name: Example company
      contacts:
      - additional_data:
          birth_city: Test city
          birth_date: '1969-12-31'
          social_security_number: 12326178T
        address:
          city: Test city
          country: NL
          number: '123'
          state: Testprovince
          street: Test street
          suffix: A
          zipcode: 1235 XX
        api_access_enabled: true
        api_client_ip_list:
          allow:
          - 127.0.0.1
          deny:
          - 127.0.0.1
        auth_type: simple
        comments: ''
        company_name: Example company
        email: test@mail.tld
        hash_changed_at: '2019-03-25 10:17:02'
        id: 123456789
        is_active: false
        last_api_call_at: '2019-03-25 10:17:01'
        last_login_at: '2019-04-12 11:58:39'
        locale: nl_NL
        name:
          first_name: Test
          full_name: Test Person
          initials: T P
          last_name: Person
          prefix: Mr
        password_change_declined_at: '2019-03-23 12:32:15'
        password_changed_at: '2019-03-25 10:17:00'
        phone:
          area_code: '111'
          country_code: '+03'
          subscriber_number: '123456'
        rcp_client_ip_list:
          allow:
          - 127.0.0.1
          deny:
          - 127.0.0.1
        reseller_id: 12345
        role: admin
        secret_key: SECRETKEYVALUE
        username: user_name
        vat: XX123456789X12
      email: ''
      fax:
        area_code: ''
        country_code: ''
        subscriber_number: ''
      id: 123456789
      locale: nl_NL
      name:
        first_name: Test
        full_name: Test Person
        initials: T P
        last_name: Person
        prefix: Mr
      phone:
        area_code: '111'
        country_code: '+03'
        subscriber_number: '123456'
      reserved_balance: 1111.11
      settings:
        av_handle: XX123456-XX
        claims_confirm_url: http://www.domain.tld/confirm-tm_claims.php?domainId=%%domainId%%&domain=%%domain%%&code=%%authCode%%
        claims_email_subject: Hi there! You need to accept registration for %%domain%%!
        claims_reseller_name: Jon Doe's Webhosting!!
        claims_sender_email: test@mail.tld
        currency: EUR
        default_domain_billing_handle: XX123456-XX
        default_domain_reseller_handle: XX123456-XX
        foa_confirm_url: ''
        foa_email_subject: ''
        foa_reseller_name: ''
        foa_sender_email: ''
        foa_terms_conditions_url: ''
        is_auto_renew_enabled: false
        is_custom_nses_enabled: false
        ive2_customized_body: ''
        ive2_email_subject: '[URGENT REMINDER] Request for e-mail address verification'
        ive_confirm_url: http://icann-verification.registrar.eu/?email=%%email%%&authCode=%%authCode%%
        ive_customized_body: ''
        ive_email_subject: Request for e-mail address verification
        ive_reseller_name: sdasd
        ive_sender_email: do-not-reply@registrar.eu
        jurisdiction: EU
        language: EN
        maximum_credit: 20000
        maximum_credit_card_payment: 15000
        maximum_i_deal_payment: 1000000
        maximum_western_union_payment: 1000
        minimum_payment: 20
        minimum_western_union_payment: 500
        pay_methods:
        - ideal
        payment_methods:
        - name: ideal
          settings:
            limit:
              maximum:
                aud: 0
                bgn: 0
                brl: 0
                cad: 0
                chf: 0
                cny: 0
                czk: 0
                dkk: 0
                eek: 0
                eur: 0
                gbp: 0
                ghs: 0
                hkd: 0
                hrk: 0
                huf: 0
                idr: 0
                ils: 0
                inr: 0
                jpy: 0
                krw: 0
                lkr: 0
                ltl: 0
                lvl: 0
                mxn: 0
                myr: 0
                nok: 0
                nzd: 0
                php: 0
                pln: 0
                ron: 0
                rub: 0
                sek: 0
                sgd: 0
                thb: 0
                try: 0
                usd: 0
                zar: 0
              minimum:
                aud: 0
                bgn: 0
                brl: 0
                cad: 0
                chf: 0
                cny: 0
                czk: 0
                dkk: 0
                eek: 0
                eur: 0
                gbp: 0
                ghs: 0
                hkd: 0
                hrk: 0
                huf: 0
                idr: 0
                ils: 0
                inr: 0
                jpy: 0
                krw: 0
                lkr: 0
                ltl: 0
                lvl: 0
                mxn: 0
                myr: 0
                nok: 0
                nzd: 0
                php: 0
                pln: 0
                ron: 0
                rub: 0
                sek: 0
                sgd: 0
                thb: 0
                try: 0
                usd: 0
                zar: 0
            transaction_fee: 0
            transaction_fee_absolute: 0
        preregistered_domain_priorities: '[]'
        recurring_payment_methods:
        - name: ideal
          settings:
            limit:
              maximum:
                aud: 0
                bgn: 0
                brl: 0
                cad: 0
                chf: 0
                cny: 0
                czk: 0
                dkk: 0
                eek: 0
                eur: 0
                gbp: 0
                ghs: 0
                hkd: 0
                hrk: 0
                huf: 0
                idr: 0
                ils: 0
                inr: 0
                jpy: 0
                krw: 0
                lkr: 0
                ltl: 0
                lvl: 0
                mxn: 0
                myr: 0
                nok: 0
                nzd: 0
                php: 0
                pln: 0
                ron: 0
                rub: 0
                sek: 0
                sgd: 0
                thb: 0
                try: 0
                usd: 0
                zar: 0
              minimum:
                aud: 0
                bgn: 0
                brl: 0
                cad: 0
                chf: 0
                cny: 0
                czk: 0
                dkk: 0
                eek: 0
                eur: 0
                gbp: 0
                ghs: 0
                hkd: 0
                hrk: 0
                huf: 0
                idr: 0
                ils: 0
                inr: 0
                jpy: 0
                krw: 0
                lkr: 0
                ltl: 0
                lvl: 0
                mxn: 0
                myr: 0
                nok: 0
                nzd: 0
                php: 0
                pln: 0
                ron: 0
                rub: 0
                sek: 0
                sgd: 0
                thb: 0
                try: 0
                usd: 0
                zar: 0
            transaction_fee: 0
            transaction_fee_absolute: 0
        renew_notification_days:
        - 1
        renew_notification_every_week: false
        tac_contract:
          is_signed: false
          name: opensign_terms_and_conditions
          signed_at: '2014-07-16 15:22:48'
          type: opensign
        tags:
        - VIPCUSTOMER
        transaction_fee:
          bank: 0
          credit_card: 3
          ideal: 0
          paypal: 5
          western_union: 0
          yandex: 5
        type: normal
      statistics:
        currency:
          modified: '2010-08-01 9:30:54'
        customer:
          modified: '2019-05-03 13:23:01'
          total: 999
        dns:
          total: 999
        domain:
          by_status:
            act: 7
            fai: 419
            nsr: 0
            pen: 0
            rej: 5
            req: 15
          total: 999
        level: 3
        license:
          total: 999
        spam_experts:
          activated_at: '2012-10-29 10:48:30'
          created_at: '2012-10-29 10:48:30'
          exists: false
          expired_at: '2016-04-05 8:50:34'
          incoming_count: 0
          incoming_limit: 10
          outgoing_count: 0
          outgoing_limit: 1
          status: deleted
          with_outgoing_filter: false
        ssl:
          by_status:
            act: 7
            fai: 419
            nsr: 0
            pen: 0
            rej: 5
            req: 15
          total: 999
      status: new
      tier: 3
      vat: ''
      vatperc: 21
  statisticsSslStatisticsByStatus:
    type: object
    title: SslStatisticsByStatus
    properties:
      ACT:
        type: integer
        format: int32
        title: Active SSL certificates count
      FAI:
        type: integer
        format: int32
        title: Fax number
      NSR:
        type: integer
        format: int32
        title: The nsr
      PEN:
        type: integer
        format: int32
        title: Pending status
      REJ:
        type: integer
        format: int32
        title: Rejected status
      REQ:
        type: integer
        format: int32
        title: Requested status
    example:
      act: 7
      fai: 419
      nsr: 0
      pen: 0
      rej: 5
      req: 15
  attributesReferralSource:
    description: "- UNKNOWN_REFERRAL_SOURCE: Referral source is not specified\n - SEARCH_ENGINE_RECOMMENDATION: Search Engine Recommendation\n - SOCIAL_MEDIA: Social Media\n - INTERNET_ADS: Internet Ads\n - EMAIL: Email\n - EVENT: Event\n - CUSTOMER_REVIEW_SITES: Customer Review Sites\n - PLATFORM_COMPARISON_SITES: Platform Comparison Sites\n - OTHER_REFERRAL_SOURCE: Other"
    type: string
    title: The size of reseller's company
    default: UNKNOWN_REFERRAL_SOURCE
    enum:
    - UNKNOWN_REFERRAL_SOURCE
    - SEARCH_ENGINE_RECOMMENDATION
    - SOCIAL_MEDIA
    - INTERNET_ADS
    - EMAIL
    - EVENT
    - CUSTOMER_REVIEW_SITES
    - PLATFORM_COMPARISON_SITES
    - OTHER_REFERRAL_SOURCE
  resellerUpdateResellerResponseData:
    type: object
    title: UpdateResellerResponseData
    properties:
      success:
        type: boolean
        format: boolean
        title: Indicates if operation was successful
    example:
      success: false
  errorError:
    type: object
    title: Error
    properties:
      code:
        type: integer
        format: int32
        title: Error code
      data:
        type: string
        title: Additional error description
      desc:
        type: string
        title: Error description
    example:
      code: 0
      data: ''
      desc: ''
  settingsPaymentMethodSettings:
    type: object
    title: PaymentMethodSettings
    properties:
      limit:
        title: Payment limits
        $ref: '#/definitions/settingsPaymentMethodLimits'
      transaction_fee:
        type: number
        format: double
        title: Additional percentage fee per payment
      transaction_fee_absolute:
        type: number
        format: double
        title: Additional absolute fee per payment
    example:
      limit:
        maximum:
          aud: 0
          bgn: 0
          brl: 0
          cad: 0
          chf: 0
          cny: 0
          czk: 0
          dkk: 0
          eek: 0
          eur: 0
          gbp: 0
          ghs: 0
          hkd: 0
          hrk: 0
          huf: 0
          idr: 0
          ils: 0
          inr: 0
          jpy: 0
          krw: 0
          lkr: 0
          ltl: 0
          lvl: 0
          mxn: 0
          myr: 0
          nok: 0
          nzd: 0
          php: 0
          pln: 0
          ron: 0
          rub: 0
          sek: 0
          sgd: 0
          thb: 0
          try: 0
          usd: 0
          zar: 0
        minimum:
          aud: 0
          bgn: 0
          brl: 0
          cad: 0
          chf: 0
          cny: 0
          czk: 0
          dkk: 0
          eek: 0
          eur: 0
          gbp: 0
          ghs: 0
          hkd: 0
          hrk: 0
          huf: 0
          idr: 0
          ils: 0
          inr: 0
          jpy: 0
          krw: 0
          lkr: 0
          ltl: 0
          lvl: 0
          mxn: 0
          myr: 0
          nok: 0
          nzd: 0
          php: 0
          pln: 0
          ron: 0
          rub: 0
          sek: 0
          sgd: 0
          thb: 0
          try: 0
          usd: 0
          zar: 0
      transaction_fee: 0
      transaction_fee_absolute: 0
  resellerUpdateResellerRequest:
    type: object
    title: UpdateResellerRequest
    properties:
      additional_data:
        title: Collection of data fields that contain additional customer information
        $ref: '#/definitions/resellerResellerAdditionalData'
      address:
        title: Address
        $ref: '#/definitions/contactAddress'
      comments:
        type: string
        title: Custom notes to the specified handle
      company_name:
        type: string
        title: Company name
      company_size:
        title: Current company size
        $ref: '#/definitions/attributesCompanySize'
      designation:
        title: Designation
        $ref: '#/definitions/attributesDesignation'
      fax:
        title: Fax number
        $ref: '#/definitions/customerFax'
      id:
        type: integer
        format: int32
        title: Object ID
      industry:
        title: Reseller's industry
        $ref: '#/definitions/attributesIndustry'
      inn:
        type: string
        title: Customer's individual tax number (for Russian customers only)
      kpp:
        type: string
        title: KPP number. For Russian customers only
      locale:
        type: string
        title: Customer's language
      name:
        title: The name
        $ref: '#/definitions/contactName'
      phone:
        title: Phone number
        $ref: '#/definitions/contactPhone'
      referral_source:
        title: Referral source
        $ref: '#/definitions/attributesReferralSource'
      vat:
        type: string
        title: Domain owner's VAT number
    example:
      additional_data:
        cif_nif_number: '12345678'
        gstin: 123456789aaa
        internal_reference: ''
      address:
        city: Test city
        country: NL
        number: '123'
        state: Testprovince
        street: Test street
        suffix: A
        zipcode: 1235 XX
      comments: ''
      company_name: Example company
      company_size: MORE_THAN_1000
      designation: UNKNOWN_DESIGNATION
      fax:
        area_code: ''
        country_code: ''
        subscriber_number: ''
      id: 123456789
      industry: UNKNOWN_INDUSTRY
      inn: ''
      kpp: ''
      locale: ''
      name:
        first_name: Test
        full_name: Test Person
        initials: T P
        last_name: Person
        prefix: Mr
      phone:
        area_code: '111'
        country_code: '+03'
        subscriber_number: '123456'
      referral_source: UNKNOWN_REFERRAL_SOURCE
      vat: XX123456789X13
  contactAddress:
    type: object
    title: Address
    properties:
      city:
        type: string
        title: City
      country:
        type: string
        title: Country code
      number:
        type: string
        title: Street number
      state:
        type: string
        title: State / province
      street:
        type: string
        title: Street
      suffix:
        type: string
        title: Address suffix
      zipcode:
        type: string
        title: Postal code
    example:
      city: Test city
      country: NL
      number: '123'
      state: Testprovince
      street: Test street
      suffix: A
      zipcode: 1235 XX
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
    x-linkTo: tag/descAuthentication
x-tagGroups:
- name: Introduction
  tags:
  - descAbout
  - descGettingStarted
  - descEndpoints
  - descAuthentication
- name: Quick Start
  tags:
  - descCustomerQuickstart
  - descDomainQuickstart
  - descTLDQuickstart
  - descDNSQuickstart
  - descSSLQuickstart
- name: Auth
  tags:
  - Auth
  - SpamExpert
- name: Billing
  tags:
  - InvoiceService
  - Payment
  - Transaction
- name: DNS
  tags:
  - DomainToken
  - NameserverService
  - NsGroupService
  - TemplateService
  - ZoneService
  - ZoneRecordService
- name: Domain
  tags:
  - DomainService
  - AdditionalData
  - CustomerAdditionalData
  - DomainPriceService
  - AuthCode
  - TldService
- name: EasyDmarc
  tags:
  - EasydmarcOrder
- name: Email template
  tags:
  - Email
- name: License
  tags:
  - LicenseService
- name: Reseller/Customer
  tags:
  - ContactService
  - Customer
  - EmailVerification
  - ResellerService
  - Settings
  - Statistics
  - TagService
- name: Spam Experts
  tags:
  - SEDomain
- name: SSL
  tags:
  - ApproverEmail
  - Csr
  - Order
  - OrderApproverEmail
  - OtpToken
  - Product
